<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.eight</key>
    <string>E_.eight.glif</string>
    <key>E.six</key>
    <string>E_.six.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G.four</key>
    <string>G_.four.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.six</key>
    <string>I_.six.glif</string>
    <key>I.six_2</key>
    <string>I_.six_2.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.six</key>
    <string>N_.six.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.eight</key>
    <string>R_.eight.glif</string>
    <key>R.four</key>
    <string>R_.four.glif</string>
    <key>R.six</key>
    <string>R_.six.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.eight</key>
    <string>S_.eight.glif</string>
    <key>S.six</key>
    <string>S_.six.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.four</key>
    <string>e.four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.four</key>
    <string>five.four.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.four</key>
    <string>s.four.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.four</key>
    <string>six.four.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>three</key>
    <string>three.glif</string>
  </dict>
</plist>
