<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.30pt</key>
    <string>A_.30pt.glif</string>
    <key>A.30pt_2</key>
    <string>A_.30pt_2.glif</string>
    <key>A.30pt_3</key>
    <string>A_.30pt_3.glif</string>
    <key>A.60pt</key>
    <string>A_.60pt.glif</string>
    <key>A.60pt_2</key>
    <string>A_.60pt_2.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.42pt</key>
    <string>C_.42pt.glif</string>
    <key>C.42pt_2</key>
    <string>C_.42pt_2.glif</string>
    <key>C.60pt</key>
    <string>C_.60pt.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.30pt</key>
    <string>D_.30pt.glif</string>
    <key>D.30pt_2</key>
    <string>D_.30pt_2.glif</string>
    <key>D.42pt</key>
    <string>D_.42pt.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.30pt</key>
    <string>E_.30pt.glif</string>
    <key>E.30pt_2</key>
    <string>E_.30pt_2.glif</string>
    <key>E.36pt</key>
    <string>E_.36pt.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G.30pt</key>
    <string>G_.30pt.glif</string>
    <key>G.36pt</key>
    <string>G_.36pt.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>H.30pt</key>
    <string>H_.30pt.glif</string>
    <key>H.36pt</key>
    <string>H_.36pt.glif</string>
    <key>H.36pt_2</key>
    <string>H_.36pt_2.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.36pt</key>
    <string>I_.36pt.glif</string>
    <key>I.36pt_2</key>
    <string>I_.36pt_2.glif</string>
    <key>I.42pt</key>
    <string>I_.42pt.glif</string>
    <key>I.42pt_2</key>
    <string>I_.42pt_2.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L.30pt</key>
    <string>L_.30pt.glif</string>
    <key>L.60pt</key>
    <string>L_.60pt.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.30pt</key>
    <string>M_.30pt.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.30pt</key>
    <string>N_.30pt.glif</string>
    <key>N.36pt</key>
    <string>N_.36pt.glif</string>
    <key>N.36pt_2</key>
    <string>N_.36pt_2.glif</string>
    <key>N.42pt</key>
    <string>N_.42pt.glif</string>
    <key>N.42pt_2</key>
    <string>N_.42pt_2.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.30pt</key>
    <string>O_.30pt.glif</string>
    <key>O.42pt</key>
    <string>O_.42pt.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P.30pt</key>
    <string>P_.30pt.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.30pt</key>
    <string>R_.30pt.glif</string>
    <key>R.36pt</key>
    <string>R_.36pt.glif</string>
    <key>R.42pt</key>
    <string>R_.42pt.glif</string>
    <key>R.60pt</key>
    <string>R_.60pt.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.30pt</key>
    <string>S_.30pt.glif</string>
    <key>S.30pt_2</key>
    <string>S_.30pt_2.glif</string>
    <key>S.36pt</key>
    <string>S_.36pt.glif</string>
    <key>S.36pt_2</key>
    <string>S_.36pt_2.glif</string>
    <key>S.42pt</key>
    <string>S_.42pt.glif</string>
    <key>S.60pt</key>
    <string>S_.60pt.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.30pt</key>
    <string>T_.30pt.glif</string>
    <key>T.30pt_2</key>
    <string>T_.30pt_2.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U.36pt</key>
    <string>U_.36pt.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Y.30pt</key>
    <string>Y_.30pt.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>two</key>
    <string>two.glif</string>
  </dict>
</plist>
