<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>B.36pt</key>
    <string>B_.36pt.glif</string>
    <key>B.60pt</key>
    <string>B_.60pt.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.30pt</key>
    <string>D_.30pt.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.30pt</key>
    <string>E_.30pt.glif</string>
    <key>E.30pt_2</key>
    <string>E_.30pt_2.glif</string>
    <key>E.30pt_3</key>
    <string>E_.30pt_3.glif</string>
    <key>E.36pt</key>
    <string>E_.36pt.glif</string>
    <key>E.48pt</key>
    <string>E_.48pt.glif</string>
    <key>E.48pt_2</key>
    <string>E_.48pt_2.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>H.30pt</key>
    <string>H_.30pt.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.30pt</key>
    <string>I_.30pt.glif</string>
    <key>I.30pt_2</key>
    <string>I_.30pt_2.glif</string>
    <key>I.48pt</key>
    <string>I_.48pt.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.30pt</key>
    <string>N_.30pt.glif</string>
    <key>N.36pt</key>
    <string>N_.36pt.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.30pt</key>
    <string>O_.30pt.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.30pt</key>
    <string>R_.30pt.glif</string>
    <key>R.36pt</key>
    <string>R_.36pt.glif</string>
    <key>R.36pt_2</key>
    <string>R_.36pt_2.glif</string>
    <key>R.36pt_3</key>
    <string>R_.36pt_3.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.30pt</key>
    <string>S_.30pt.glif</string>
    <key>S.48pt</key>
    <string>S_.48pt.glif</string>
    <key>S.48pt_2</key>
    <string>S_.48pt_2.glif</string>
    <key>S.60pt</key>
    <string>S_.60pt.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.30pt</key>
    <string>T_.30pt.glif</string>
    <key>T.30pt_2</key>
    <string>T_.30pt_2.glif</string>
    <key>T.48pt</key>
    <string>T_.48pt.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.60pt</key>
    <string>a.60pt.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d.48pt</key>
    <string>d.48pt.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.48pt</key>
    <string>g.48pt.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i.48pt</key>
    <string>i.48pt.glif</string>
    <key>i.48pt_2</key>
    <string>i.48pt_2.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.48pt</key>
    <string>n.48pt.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.48pt</key>
    <string>t.48pt.glif</string>
    <key>three</key>
    <string>three.glif</string>
  </dict>
</plist>
