<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c.six</key>
    <string>c.six.glif</string>
    <key>c.six_2</key>
    <string>c.six_2.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.six</key>
    <string>e.six.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>h.six</key>
    <string>h.six.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>longs</key>
    <string>longs.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.six</key>
    <string>r.six.glif</string>
    <key>r.six_2</key>
    <string>r.six_2.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u.six</key>
    <string>u.six.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>z</key>
    <string>z.glif</string>
  </dict>
</plist>
