<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>B.60pt</key>
    <string>B_.60pt.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.60pt</key>
    <string>C_.60pt.glif</string>
    <key>C.60pt_2</key>
    <string>C_.60pt_2.glif</string>
    <key>C.72pt</key>
    <string>C_.72pt.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.72pt</key>
    <string>E_.72pt.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.60pt</key>
    <string>O_.60pt.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.60pt</key>
    <string>T_.60pt.glif</string>
    <key>T.60pt_2</key>
    <string>T_.60pt_2.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.60pt</key>
    <string>a.60pt.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u.60pt</key>
    <string>u.60pt.glif</string>
  </dict>
</plist>
