<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.20pt</key>
    <string>A_.20pt.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.36pt</key>
    <string>D_.36pt.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.30pt</key>
    <string>E_.30pt.glif</string>
    <key>E.36pt</key>
    <string>E_.36pt.glif</string>
    <key>E.48pt</key>
    <string>E_.48pt.glif</string>
    <key>E.48pt_2</key>
    <string>E_.48pt_2.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G.20pt</key>
    <string>G_.20pt.glif</string>
    <key>G.30pt</key>
    <string>G_.30pt.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.20pt</key>
    <string>I_.20pt.glif</string>
    <key>I.30pt</key>
    <string>I_.30pt.glif</string>
    <key>I.36pt</key>
    <string>I_.36pt.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L.30pt</key>
    <string>L_.30pt.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.20pt</key>
    <string>N_.20pt.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.36pt</key>
    <string>O_.36pt.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P.30pt</key>
    <string>P_.30pt.glif</string>
    <key>P.48pt</key>
    <string>P_.48pt.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.30pt</key>
    <string>R_.30pt.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.30pt</key>
    <string>S_.30pt.glif</string>
    <key>S.30pt_2</key>
    <string>S_.30pt_2.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.20pt</key>
    <string>T_.20pt.glif</string>
    <key>T.30pt</key>
    <string>T_.30pt.glif</string>
    <key>T.36pt</key>
    <string>T_.36pt.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>two</key>
    <string>two.glif</string>
  </dict>
</plist>
