<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.42pt</key>
    <string>A_.42pt.glif</string>
    <key>A.42pt_2</key>
    <string>A_.42pt_2.glif</string>
    <key>A.42pt_3</key>
    <string>A_.42pt_3.glif</string>
    <key>A.42pt_4</key>
    <string>A_.42pt_4.glif</string>
    <key>A.42pt_5</key>
    <string>A_.42pt_5.glif</string>
    <key>A.42pt_6</key>
    <string>A_.42pt_6.glif</string>
    <key>A.42pt_7</key>
    <string>A_.42pt_7.glif</string>
    <key>A.48pt</key>
    <string>A_.48pt.glif</string>
    <key>A.48pt_2</key>
    <string>A_.48pt_2.glif</string>
    <key>A.48pt_3</key>
    <string>A_.48pt_3.glif</string>
    <key>A.48pt_4</key>
    <string>A_.48pt_4.glif</string>
    <key>A.60pt</key>
    <string>A_.60pt.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.42pt</key>
    <string>C_.42pt.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.42pt</key>
    <string>D_.42pt.glif</string>
    <key>D.48pt</key>
    <string>D_.48pt.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.48pt</key>
    <string>E_.48pt.glif</string>
    <key>E.60pt</key>
    <string>E_.60pt.glif</string>
    <key>E.60pt_2</key>
    <string>E_.60pt_2.glif</string>
    <key>E.60pt_3</key>
    <string>E_.60pt_3.glif</string>
    <key>E.60pt_4</key>
    <string>E_.60pt_4.glif</string>
    <key>E.72pt</key>
    <string>E_.72pt.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>F.42pt</key>
    <string>F_.42pt.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G.48pt</key>
    <string>G_.48pt.glif</string>
    <key>G.60pt</key>
    <string>G_.60pt.glif</string>
    <key>G.60pt_2</key>
    <string>G_.60pt_2.glif</string>
    <key>G.72pt</key>
    <string>G_.72pt.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>H.42pt</key>
    <string>H_.42pt.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.42pt</key>
    <string>I_.42pt.glif</string>
    <key>I.42pt_2</key>
    <string>I_.42pt_2.glif</string>
    <key>I.48pt</key>
    <string>I_.48pt.glif</string>
    <key>I.48pt_2</key>
    <string>I_.48pt_2.glif</string>
    <key>I.48pt_3</key>
    <string>I_.48pt_3.glif</string>
    <key>I.48pt_4</key>
    <string>I_.48pt_4.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L.42pt</key>
    <string>L_.42pt.glif</string>
    <key>L.60pt</key>
    <string>L_.60pt.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.42pt</key>
    <string>M_.42pt.glif</string>
    <key>M.42pt_2</key>
    <string>M_.42pt_2.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.42pt</key>
    <string>N_.42pt.glif</string>
    <key>N.42pt_2</key>
    <string>N_.42pt_2.glif</string>
    <key>N.48pt</key>
    <string>N_.48pt.glif</string>
    <key>N.48pt_2</key>
    <string>N_.48pt_2.glif</string>
    <key>N.48pt_3</key>
    <string>N_.48pt_3.glif</string>
    <key>N.60pt</key>
    <string>N_.60pt.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.48pt</key>
    <string>O_.48pt.glif</string>
    <key>O.48pt_2</key>
    <string>O_.48pt_2.glif</string>
    <key>O.60pt</key>
    <string>O_.60pt.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P.48pt</key>
    <string>P_.48pt.glif</string>
    <key>P.60pt</key>
    <string>P_.60pt.glif</string>
    <key>P.60pt_2</key>
    <string>P_.60pt_2.glif</string>
    <key>P.72pt</key>
    <string>P_.72pt.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.42pt</key>
    <string>R_.42pt.glif</string>
    <key>R.42pt_2</key>
    <string>R_.42pt_2.glif</string>
    <key>R.60pt</key>
    <string>R_.60pt.glif</string>
    <key>R.60pt_2</key>
    <string>R_.60pt_2.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.42pt</key>
    <string>S_.42pt.glif</string>
    <key>S.42pt_2</key>
    <string>S_.42pt_2.glif</string>
    <key>S.48pt</key>
    <string>S_.48pt.glif</string>
    <key>S.48pt_2</key>
    <string>S_.48pt_2.glif</string>
    <key>S.60pt</key>
    <string>S_.60pt.glif</string>
    <key>S.72pt</key>
    <string>S_.72pt.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.42pt</key>
    <string>T_.42pt.glif</string>
    <key>T.42pt_2</key>
    <string>T_.42pt_2.glif</string>
    <key>T.48pt</key>
    <string>T_.48pt.glif</string>
    <key>T.48pt_2</key>
    <string>T_.48pt_2.glif</string>
    <key>T.48pt_3</key>
    <string>T_.48pt_3.glif</string>
    <key>T.60pt</key>
    <string>T_.60pt.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U.42pt</key>
    <string>U_.42pt.glif</string>
    <key>U.72pt</key>
    <string>U_.72pt.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.42pt</key>
    <string>a.42pt.glif</string>
    <key>a.48pt</key>
    <string>a.48pt.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c.42pt</key>
    <string>c.42pt.glif</string>
    <key>c.48pt</key>
    <string>c.48pt.glif</string>
    <key>c.48pt_2</key>
    <string>c.48pt_2.glif</string>
    <key>c.48pt_3</key>
    <string>c.48pt_3.glif</string>
    <key>c.60pt</key>
    <string>c.60pt.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d.42pt</key>
    <string>d.42pt.glif</string>
    <key>d.48pt</key>
    <string>d.48pt.glif</string>
    <key>d.60pt</key>
    <string>d.60pt.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.42pt</key>
    <string>e.42pt.glif</string>
    <key>e.42pt_2</key>
    <string>e.42pt_2.glif</string>
    <key>e.42pt_3</key>
    <string>e.42pt_3.glif</string>
    <key>e.42pt_4</key>
    <string>e.42pt_4.glif</string>
    <key>e.42pt_5</key>
    <string>e.42pt_5.glif</string>
    <key>e.48pt</key>
    <string>e.48pt.glif</string>
    <key>e.48pt_2</key>
    <string>e.48pt_2.glif</string>
    <key>e.48pt_3</key>
    <string>e.48pt_3.glif</string>
    <key>e.48pt_4</key>
    <string>e.48pt_4.glif</string>
    <key>e.48pt_5</key>
    <string>e.48pt_5.glif</string>
    <key>e.48pt_6</key>
    <string>e.48pt_6.glif</string>
    <key>e.60pt</key>
    <string>e.60pt.glif</string>
    <key>e.60pt_2</key>
    <string>e.60pt_2.glif</string>
    <key>e.60pt_3</key>
    <string>e.60pt_3.glif</string>
    <key>e.72pt</key>
    <string>e.72pt.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i.42pt</key>
    <string>i.42pt.glif</string>
    <key>i.42pt_2</key>
    <string>i.42pt_2.glif</string>
    <key>i.48pt</key>
    <string>i.48pt.glif</string>
    <key>i.48pt_2</key>
    <string>i.48pt_2.glif</string>
    <key>i.60pt</key>
    <string>i.60pt.glif</string>
    <key>i.72pt</key>
    <string>i.72pt.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.42pt</key>
    <string>n.42pt.glif</string>
    <key>n.42pt_2</key>
    <string>n.42pt_2.glif</string>
    <key>n.42pt_3</key>
    <string>n.42pt_3.glif</string>
    <key>n.48pt</key>
    <string>n.48pt.glif</string>
    <key>n.60pt</key>
    <string>n.60pt.glif</string>
    <key>n.60pt_2</key>
    <string>n.60pt_2.glif</string>
    <key>n.72pt</key>
    <string>n.72pt.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.42pt</key>
    <string>o.42pt.glif</string>
    <key>o.42pt_2</key>
    <string>o.42pt_2.glif</string>
    <key>o.60pt</key>
    <string>o.60pt.glif</string>
    <key>o.72pt</key>
    <string>o.72pt.glif</string>
    <key>o.72pt_2</key>
    <string>o.72pt_2.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>p.42pt</key>
    <string>p.42pt.glif</string>
    <key>p.42pt_2</key>
    <string>p.42pt_2.glif</string>
    <key>p.60pt</key>
    <string>p.60pt.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.42pt</key>
    <string>r.42pt.glif</string>
    <key>r.48pt</key>
    <string>r.48pt.glif</string>
    <key>r.60pt</key>
    <string>r.60pt.glif</string>
    <key>r.60pt_2</key>
    <string>r.60pt_2.glif</string>
    <key>r.72pt</key>
    <string>r.72pt.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.42pt</key>
    <string>s.42pt.glif</string>
    <key>s.48pt</key>
    <string>s.48pt.glif</string>
    <key>s.48pt_2</key>
    <string>s.48pt_2.glif</string>
    <key>s.60pt</key>
    <string>s.60pt.glif</string>
    <key>s.60pt_2</key>
    <string>s.60pt_2.glif</string>
    <key>s.60pt_3</key>
    <string>s.60pt_3.glif</string>
    <key>s.72pt</key>
    <string>s.72pt.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.48pt</key>
    <string>t.48pt.glif</string>
    <key>t.48pt_2</key>
    <string>t.48pt_2.glif</string>
    <key>t.60pt</key>
    <string>t.60pt.glif</string>
    <key>t.60pt_2</key>
    <string>t.60pt_2.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u.42pt</key>
    <string>u.42pt.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>v.42pt</key>
    <string>v.42pt.glif</string>
    <key>v.48pt</key>
    <string>v.48pt.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
  </dict>
</plist>
