<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.48pt</key>
    <string>A_.48pt.glif</string>
    <key>A.48pt_2</key>
    <string>A_.48pt_2.glif</string>
    <key>A.54pt</key>
    <string>A_.54pt.glif</string>
    <key>A.60pt</key>
    <string>A_.60pt.glif</string>
    <key>A.60pt_2</key>
    <string>A_.60pt_2.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>B.42pt</key>
    <string>B_.42pt.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.48pt</key>
    <string>C_.48pt.glif</string>
    <key>C.54pt</key>
    <string>C_.54pt.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.30pt</key>
    <string>E_.30pt.glif</string>
    <key>E.30pt_2</key>
    <string>E_.30pt_2.glif</string>
    <key>E.30pt_3</key>
    <string>E_.30pt_3.glif</string>
    <key>E.36pt</key>
    <string>E_.36pt.glif</string>
    <key>E.42pt</key>
    <string>E_.42pt.glif</string>
    <key>E.42pt_2</key>
    <string>E_.42pt_2.glif</string>
    <key>E.48pt</key>
    <string>E_.48pt.glif</string>
    <key>E.54pt</key>
    <string>E_.54pt.glif</string>
    <key>E.54pt_2</key>
    <string>E_.54pt_2.glif</string>
    <key>E.60pt</key>
    <string>E_.60pt.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>F.36pt</key>
    <string>F_.36pt.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G.36pt</key>
    <string>G_.36pt.glif</string>
    <key>G.36pt_2</key>
    <string>G_.36pt_2.glif</string>
    <key>G.48pt</key>
    <string>G_.48pt.glif</string>
    <key>G.60pt</key>
    <string>G_.60pt.glif</string>
    <key>G.60pt_2</key>
    <string>G_.60pt_2.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.36pt</key>
    <string>I_.36pt.glif</string>
    <key>I.36pt_2</key>
    <string>I_.36pt_2.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.30pt</key>
    <string>M_.30pt.glif</string>
    <key>M.30pt_2</key>
    <string>M_.30pt_2.glif</string>
    <key>M.42pt</key>
    <string>M_.42pt.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.30pt</key>
    <string>N_.30pt.glif</string>
    <key>N.36pt</key>
    <string>N_.36pt.glif</string>
    <key>N.42pt</key>
    <string>N_.42pt.glif</string>
    <key>N.42pt_2</key>
    <string>N_.42pt_2.glif</string>
    <key>N.54pt</key>
    <string>N_.54pt.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.30pt</key>
    <string>O_.30pt.glif</string>
    <key>O.30pt_2</key>
    <string>O_.30pt_2.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.30pt</key>
    <string>R_.30pt.glif</string>
    <key>R.30pt_2</key>
    <string>R_.30pt_2.glif</string>
    <key>R.36pt</key>
    <string>R_.36pt.glif</string>
    <key>R.36pt_2</key>
    <string>R_.36pt_2.glif</string>
    <key>R.42pt</key>
    <string>R_.42pt.glif</string>
    <key>R.48pt</key>
    <string>R_.48pt.glif</string>
    <key>R.48pt_2</key>
    <string>R_.48pt_2.glif</string>
    <key>R.54pt</key>
    <string>R_.54pt.glif</string>
    <key>R.60pt</key>
    <string>R_.60pt.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.30pt</key>
    <string>S_.30pt.glif</string>
    <key>S.30pt_2</key>
    <string>S_.30pt_2.glif</string>
    <key>S.30pt_3</key>
    <string>S_.30pt_3.glif</string>
    <key>S.36pt</key>
    <string>S_.36pt.glif</string>
    <key>S.48pt</key>
    <string>S_.48pt.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.30pt</key>
    <string>T_.30pt.glif</string>
    <key>T.36pt</key>
    <string>T_.36pt.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U.30pt</key>
    <string>U_.30pt.glif</string>
    <key>U.36pt</key>
    <string>U_.36pt.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>W.36pt</key>
    <string>W_.36pt.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.30pt</key>
    <string>a.30pt.glif</string>
    <key>a.30pt_2</key>
    <string>a.30pt_2.glif</string>
    <key>a.30pt_3</key>
    <string>a.30pt_3.glif</string>
    <key>a.42pt</key>
    <string>a.42pt.glif</string>
    <key>a.42pt_2</key>
    <string>a.42pt_2.glif</string>
    <key>a.42pt_3</key>
    <string>a.42pt_3.glif</string>
    <key>a.48pt</key>
    <string>a.48pt.glif</string>
    <key>a.60pt</key>
    <string>a.60pt.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.30pt</key>
    <string>e.30pt.glif</string>
    <key>e.30pt_2</key>
    <string>e.30pt_2.glif</string>
    <key>e.30pt_3</key>
    <string>e.30pt_3.glif</string>
    <key>e.30pt_4</key>
    <string>e.30pt_4.glif</string>
    <key>e.36pt</key>
    <string>e.36pt.glif</string>
    <key>e.36pt_2</key>
    <string>e.36pt_2.glif</string>
    <key>e.36pt_3</key>
    <string>e.36pt_3.glif</string>
    <key>e.36pt_4</key>
    <string>e.36pt_4.glif</string>
    <key>e.36pt_5</key>
    <string>e.36pt_5.glif</string>
    <key>e.54pt</key>
    <string>e.54pt.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.36pt</key>
    <string>eight.36pt.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.30pt</key>
    <string>five.30pt.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.42pt</key>
    <string>g.42pt.glif</string>
    <key>g.48pt</key>
    <string>g.48pt.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>h.36pt</key>
    <string>h.36pt.glif</string>
    <key>h.42pt</key>
    <string>h.42pt.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i.36pt</key>
    <string>i.36pt.glif</string>
    <key>i.42pt</key>
    <string>i.42pt.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>k.36pt</key>
    <string>k.36pt.glif</string>
    <key>k.54pt</key>
    <string>k.54pt.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l.36pt</key>
    <string>l.36pt.glif</string>
    <key>l.54pt</key>
    <string>l.54pt.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.30pt</key>
    <string>n.30pt.glif</string>
    <key>n.30pt_2</key>
    <string>n.30pt_2.glif</string>
    <key>n.48pt</key>
    <string>n.48pt.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.48pt</key>
    <string>o.48pt.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>p.42pt</key>
    <string>p.42pt.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.30pt</key>
    <string>r.30pt.glif</string>
    <key>r.42pt</key>
    <string>r.42pt.glif</string>
    <key>r.42pt_2</key>
    <string>r.42pt_2.glif</string>
    <key>r.42pt_3</key>
    <string>r.42pt_3.glif</string>
    <key>r.54pt</key>
    <string>r.54pt.glif</string>
    <key>r.54pt_2</key>
    <string>r.54pt_2.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.30pt</key>
    <string>s.30pt.glif</string>
    <key>s.42pt</key>
    <string>s.42pt.glif</string>
    <key>s.48pt</key>
    <string>s.48pt.glif</string>
    <key>s.54pt</key>
    <string>s.54pt.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.36pt</key>
    <string>t.36pt.glif</string>
    <key>t.42pt</key>
    <string>t.42pt.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.42pt</key>
    <string>three.42pt.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u.54pt</key>
    <string>u.54pt.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>y.30pt</key>
    <string>y.30pt.glif</string>
    <key>y.36pt</key>
    <string>y.36pt.glif</string>
  </dict>
</plist>
