<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.30pt</key>
    <string>A_.30pt.glif</string>
    <key>A.36pt</key>
    <string>A_.36pt.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.36pt</key>
    <string>C_.36pt.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.30pt</key>
    <string>D_.30pt.glif</string>
    <key>D.48pt</key>
    <string>D_.48pt.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.36pt</key>
    <string>E_.36pt.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.30pt</key>
    <string>I_.30pt.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.30pt</key>
    <string>M_.30pt.glif</string>
    <key>M.36pt</key>
    <string>M_.36pt.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.30pt</key>
    <string>N_.30pt.glif</string>
    <key>N.36pt</key>
    <string>N_.36pt.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.30pt</key>
    <string>O_.30pt.glif</string>
    <key>O.30pt_2</key>
    <string>O_.30pt_2.glif</string>
    <key>O.36pt</key>
    <string>O_.36pt.glif</string>
    <key>O.48pt</key>
    <string>O_.48pt.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P.36pt</key>
    <string>P_.36pt.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.30pt</key>
    <string>R_.30pt.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.30pt</key>
    <string>S_.30pt.glif</string>
    <key>S.30pt_2</key>
    <string>S_.30pt_2.glif</string>
    <key>S.36pt</key>
    <string>S_.36pt.glif</string>
    <key>S.60pt</key>
    <string>S_.60pt.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U.30pt</key>
    <string>U_.30pt.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Y.36pt</key>
    <string>Y_.36pt.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.30pt</key>
    <string>a.30pt.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.36pt</key>
    <string>e.36pt.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i.30pt</key>
    <string>i.30pt.glif</string>
    <key>i.30pt_2</key>
    <string>i.30pt_2.glif</string>
    <key>i.30pt_3</key>
    <string>i.30pt_3.glif</string>
    <key>i.36pt</key>
    <string>i.36pt.glif</string>
    <key>i.48pt</key>
    <string>i.48pt.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.30pt</key>
    <string>n.30pt.glif</string>
    <key>n.30pt_2</key>
    <string>n.30pt_2.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.30pt</key>
    <string>o.30pt.glif</string>
    <key>o.36pt</key>
    <string>o.36pt.glif</string>
    <key>o.48pt</key>
    <string>o.48pt.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.30pt</key>
    <string>r.30pt.glif</string>
    <key>r.30pt_2</key>
    <string>r.30pt_2.glif</string>
    <key>r.36pt</key>
    <string>r.36pt.glif</string>
    <key>r.36pt_2</key>
    <string>r.36pt_2.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.30pt</key>
    <string>s.30pt.glif</string>
    <key>s.30pt_2</key>
    <string>s.30pt_2.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.30pt</key>
    <string>t.30pt.glif</string>
    <key>t.36pt</key>
    <string>t.36pt.glif</string>
    <key>t.36pt_2</key>
    <string>t.36pt_2.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>y</key>
    <string>y.glif</string>
  </dict>
</plist>
