<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.30pt</key>
    <string>A_.30pt.glif</string>
    <key>A.30pt_2</key>
    <string>A_.30pt_2.glif</string>
    <key>A.30pt_3</key>
    <string>A_.30pt_3.glif</string>
    <key>A.36pt</key>
    <string>A_.36pt.glif</string>
    <key>A.54pt</key>
    <string>A_.54pt.glif</string>
    <key>A.60pt</key>
    <string>A_.60pt.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.36pt</key>
    <string>C_.36pt.glif</string>
    <key>C.42pt</key>
    <string>C_.42pt.glif</string>
    <key>C.48pt</key>
    <string>C_.48pt.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.36pt</key>
    <string>D_.36pt.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.30pt</key>
    <string>E_.30pt.glif</string>
    <key>E.30pt_2</key>
    <string>E_.30pt_2.glif</string>
    <key>E.36pt</key>
    <string>E_.36pt.glif</string>
    <key>E.42pt</key>
    <string>E_.42pt.glif</string>
    <key>E.42pt_2</key>
    <string>E_.42pt_2.glif</string>
    <key>E.54pt</key>
    <string>E_.54pt.glif</string>
    <key>E.54pt_2</key>
    <string>E_.54pt_2.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>H.48pt</key>
    <string>H_.48pt.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.30pt</key>
    <string>I_.30pt.glif</string>
    <key>I.30pt_2</key>
    <string>I_.30pt_2.glif</string>
    <key>I.42pt</key>
    <string>I_.42pt.glif</string>
    <key>I.54pt</key>
    <string>I_.54pt.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L.30pt</key>
    <string>L_.30pt.glif</string>
    <key>L.30pt_2</key>
    <string>L_.30pt_2.glif</string>
    <key>L.36pt</key>
    <string>L_.36pt.glif</string>
    <key>L.60pt</key>
    <string>L_.60pt.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.36pt</key>
    <string>M_.36pt.glif</string>
    <key>M.36pt_2</key>
    <string>M_.36pt_2.glif</string>
    <key>M.60pt</key>
    <string>M_.60pt.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.30pt</key>
    <string>N_.30pt.glif</string>
    <key>N.30pt_2</key>
    <string>N_.30pt_2.glif</string>
    <key>N.36pt</key>
    <string>N_.36pt.glif</string>
    <key>N.42pt</key>
    <string>N_.42pt.glif</string>
    <key>N.42pt_2</key>
    <string>N_.42pt_2.glif</string>
    <key>N.54pt</key>
    <string>N_.54pt.glif</string>
    <key>N.60pt</key>
    <string>N_.60pt.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.30pt</key>
    <string>O_.30pt.glif</string>
    <key>O.30pt_2</key>
    <string>O_.30pt_2.glif</string>
    <key>O.36pt</key>
    <string>O_.36pt.glif</string>
    <key>O.36pt_2</key>
    <string>O_.36pt_2.glif</string>
    <key>O.42pt</key>
    <string>O_.42pt.glif</string>
    <key>O.42pt_2</key>
    <string>O_.42pt_2.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P.36pt</key>
    <string>P_.36pt.glif</string>
    <key>P.42pt</key>
    <string>P_.42pt.glif</string>
    <key>P.54pt</key>
    <string>P_.54pt.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.30pt</key>
    <string>R_.30pt.glif</string>
    <key>R.54pt</key>
    <string>R_.54pt.glif</string>
    <key>R.54pt_2</key>
    <string>R_.54pt_2.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.54pt</key>
    <string>S_.54pt.glif</string>
    <key>S.54pt_2</key>
    <string>S_.54pt_2.glif</string>
    <key>S.54pt_3</key>
    <string>S_.54pt_3.glif</string>
    <key>S.60pt</key>
    <string>S_.60pt.glif</string>
    <key>S.72pt</key>
    <string>S_.72pt.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.30pt</key>
    <string>T_.30pt.glif</string>
    <key>T.42pt</key>
    <string>T_.42pt.glif</string>
    <key>T.54pt</key>
    <string>T_.54pt.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U.30pt</key>
    <string>U_.30pt.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>W.36pt</key>
    <string>W_.36pt.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.36pt</key>
    <string>a.36pt.glif</string>
    <key>a.36pt_2</key>
    <string>a.36pt_2.glif</string>
    <key>a.36pt_3</key>
    <string>a.36pt_3.glif</string>
    <key>a.42pt</key>
    <string>a.42pt.glif</string>
    <key>a.48pt</key>
    <string>a.48pt.glif</string>
    <key>a.48pt_2</key>
    <string>a.48pt_2.glif</string>
    <key>a.60pt</key>
    <string>a.60pt.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d.30pt</key>
    <string>d.30pt.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.30pt</key>
    <string>e.30pt.glif</string>
    <key>e.30pt_2</key>
    <string>e.30pt_2.glif</string>
    <key>e.30pt_3</key>
    <string>e.30pt_3.glif</string>
    <key>e.30pt_4</key>
    <string>e.30pt_4.glif</string>
    <key>e.30pt_5</key>
    <string>e.30pt_5.glif</string>
    <key>e.36pt</key>
    <string>e.36pt.glif</string>
    <key>e.42pt</key>
    <string>e.42pt.glif</string>
    <key>e.48pt</key>
    <string>e.48pt.glif</string>
    <key>e.48pt_2</key>
    <string>e.48pt_2.glif</string>
    <key>e.54pt</key>
    <string>e.54pt.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.42pt</key>
    <string>eight.42pt.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.30pt</key>
    <string>five.30pt.glif</string>
    <key>five.36pt</key>
    <string>five.36pt.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.48pt</key>
    <string>g.48pt.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i.30pt</key>
    <string>i.30pt.glif</string>
    <key>i.36pt</key>
    <string>i.36pt.glif</string>
    <key>i.48pt</key>
    <string>i.48pt.glif</string>
    <key>i.54pt</key>
    <string>i.54pt.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l.30pt</key>
    <string>l.30pt.glif</string>
    <key>l.36pt</key>
    <string>l.36pt.glif</string>
    <key>l.54pt</key>
    <string>l.54pt.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m.36pt</key>
    <string>m.36pt.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.36pt</key>
    <string>n.36pt.glif</string>
    <key>n.36pt_2</key>
    <string>n.36pt_2.glif</string>
    <key>n.36pt_3</key>
    <string>n.36pt_3.glif</string>
    <key>n.42pt</key>
    <string>n.42pt.glif</string>
    <key>n.60pt</key>
    <string>n.60pt.glif</string>
    <key>n.60pt_2</key>
    <string>n.60pt_2.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.36pt</key>
    <string>o.36pt.glif</string>
    <key>o.36pt_2</key>
    <string>o.36pt_2.glif</string>
    <key>o.42pt</key>
    <string>o.42pt.glif</string>
    <key>o.48pt</key>
    <string>o.48pt.glif</string>
    <key>o.54pt</key>
    <string>o.54pt.glif</string>
    <key>o.60pt</key>
    <string>o.60pt.glif</string>
    <key>o.60pt_2</key>
    <string>o.60pt_2.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>p.36pt</key>
    <string>p.36pt.glif</string>
    <key>p.42pt</key>
    <string>p.42pt.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.30pt</key>
    <string>r.30pt.glif</string>
    <key>r.30pt_2</key>
    <string>r.30pt_2.glif</string>
    <key>r.30pt_3</key>
    <string>r.30pt_3.glif</string>
    <key>r.42pt</key>
    <string>r.42pt.glif</string>
    <key>r.48pt</key>
    <string>r.48pt.glif</string>
    <key>r.48pt_2</key>
    <string>r.48pt_2.glif</string>
    <key>r.48pt_3</key>
    <string>r.48pt_3.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.30pt</key>
    <string>s.30pt.glif</string>
    <key>s.36pt</key>
    <string>s.36pt.glif</string>
    <key>s.42pt</key>
    <string>s.42pt.glif</string>
    <key>s.42pt_2</key>
    <string>s.42pt_2.glif</string>
    <key>s.48pt</key>
    <string>s.48pt.glif</string>
    <key>s.48pt_2</key>
    <string>s.48pt_2.glif</string>
    <key>s.54pt</key>
    <string>s.54pt.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.30pt</key>
    <string>t.30pt.glif</string>
    <key>t.30pt_2</key>
    <string>t.30pt_2.glif</string>
    <key>t.36pt</key>
    <string>t.36pt.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.36pt</key>
    <string>three.36pt.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u.30pt</key>
    <string>u.30pt.glif</string>
    <key>u.30pt_2</key>
    <string>u.30pt_2.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>y.42pt</key>
    <string>y.42pt.glif</string>
    <key>y.54pt</key>
    <string>y.54pt.glif</string>
  </dict>
</plist>
