<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.30pt</key>
    <string>A_.30pt.glif</string>
    <key>A.60pt</key>
    <string>A_.60pt.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>B.48pt</key>
    <string>B_.48pt.glif</string>
    <key>B.48pt_2</key>
    <string>B_.48pt_2.glif</string>
    <key>B.60pt</key>
    <string>B_.60pt.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.30pt</key>
    <string>C_.30pt.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G.30pt</key>
    <string>G_.30pt.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L.60pt</key>
    <string>L_.60pt.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.30pt</key>
    <string>R_.30pt.glif</string>
    <key>R.30pt_2</key>
    <string>R_.30pt_2.glif</string>
    <key>R.60pt</key>
    <string>R_.60pt.glif</string>
    <key>R.60pt_2</key>
    <string>R_.60pt_2.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.30pt</key>
    <string>S_.30pt.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U.48pt</key>
    <string>U_.48pt.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.30pt</key>
    <string>a.30pt.glif</string>
    <key>a.60pt</key>
    <string>a.60pt.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d.30pt</key>
    <string>d.30pt.glif</string>
    <key>d.48pt</key>
    <string>d.48pt.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.30pt</key>
    <string>e.30pt.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.30pt</key>
    <string>five.30pt.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.48pt</key>
    <string>g.48pt.glif</string>
    <key>g.48pt_2</key>
    <string>g.48pt_2.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i.30pt</key>
    <string>i.30pt.glif</string>
    <key>i.48pt</key>
    <string>i.48pt.glif</string>
    <key>i.60pt</key>
    <string>i.60pt.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.30pt</key>
    <string>n.30pt.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.30pt</key>
    <string>o.30pt.glif</string>
    <key>o.30pt_2</key>
    <string>o.30pt_2.glif</string>
    <key>o.30pt_3</key>
    <string>o.30pt_3.glif</string>
    <key>o.48pt</key>
    <string>o.48pt.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.30pt</key>
    <string>r.30pt.glif</string>
    <key>r.30pt_2</key>
    <string>r.30pt_2.glif</string>
    <key>r.48pt</key>
    <string>r.48pt.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>v</key>
    <string>v.glif</string>
  </dict>
</plist>
