<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.24pt</key>
    <string>A_.24pt.glif</string>
    <key>A.30pt</key>
    <string>A_.30pt.glif</string>
    <key>A.30pt_2</key>
    <string>A_.30pt_2.glif</string>
    <key>A.30pt_3</key>
    <string>A_.30pt_3.glif</string>
    <key>A.30pt_4</key>
    <string>A_.30pt_4.glif</string>
    <key>A.42pt</key>
    <string>A_.42pt.glif</string>
    <key>A.42pt_2</key>
    <string>A_.42pt_2.glif</string>
    <key>A.48pt</key>
    <string>A_.48pt.glif</string>
    <key>A.54pt</key>
    <string>A_.54pt.glif</string>
    <key>A.60pt</key>
    <string>A_.60pt.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>B.30pt</key>
    <string>B_.30pt.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.30pt</key>
    <string>C_.30pt.glif</string>
    <key>C.42pt</key>
    <string>C_.42pt.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.24pt</key>
    <string>D_.24pt.glif</string>
    <key>D.24pt_2</key>
    <string>D_.24pt_2.glif</string>
    <key>D.30pt</key>
    <string>D_.30pt.glif</string>
    <key>D.30pt_2</key>
    <string>D_.30pt_2.glif</string>
    <key>D.54pt</key>
    <string>D_.54pt.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.24pt</key>
    <string>E_.24pt.glif</string>
    <key>E.30pt</key>
    <string>E_.30pt.glif</string>
    <key>E.30pt_2</key>
    <string>E_.30pt_2.glif</string>
    <key>E.30pt_3</key>
    <string>E_.30pt_3.glif</string>
    <key>E.42pt</key>
    <string>E_.42pt.glif</string>
    <key>E.42pt_2</key>
    <string>E_.42pt_2.glif</string>
    <key>E.42pt_3</key>
    <string>E_.42pt_3.glif</string>
    <key>E.48pt</key>
    <string>E_.48pt.glif</string>
    <key>E.48pt_2</key>
    <string>E_.48pt_2.glif</string>
    <key>E.54pt</key>
    <string>E_.54pt.glif</string>
    <key>E.54pt_2</key>
    <string>E_.54pt_2.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>F.30pt</key>
    <string>F_.30pt.glif</string>
    <key>F.30pt_2</key>
    <string>F_.30pt_2.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G.48pt</key>
    <string>G_.48pt.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>H.24pt</key>
    <string>H_.24pt.glif</string>
    <key>H.42pt</key>
    <string>H_.42pt.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.42pt</key>
    <string>I_.42pt.glif</string>
    <key>I.42pt_2</key>
    <string>I_.42pt_2.glif</string>
    <key>I.42pt_3</key>
    <string>I_.42pt_3.glif</string>
    <key>I.48pt</key>
    <string>I_.48pt.glif</string>
    <key>I.48pt_2</key>
    <string>I_.48pt_2.glif</string>
    <key>I.54pt</key>
    <string>I_.54pt.glif</string>
    <key>I.60pt</key>
    <string>I_.60pt.glif</string>
    <key>I.60pt_2</key>
    <string>I_.60pt_2.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>K.42pt</key>
    <string>K_.42pt.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L.24pt</key>
    <string>L_.24pt.glif</string>
    <key>L.30pt</key>
    <string>L_.30pt.glif</string>
    <key>L.30pt_2</key>
    <string>L_.30pt_2.glif</string>
    <key>L.42pt</key>
    <string>L_.42pt.glif</string>
    <key>L.42pt_2</key>
    <string>L_.42pt_2.glif</string>
    <key>L.42pt_3</key>
    <string>L_.42pt_3.glif</string>
    <key>L.60pt</key>
    <string>L_.60pt.glif</string>
    <key>L.60pt_2</key>
    <string>L_.60pt_2.glif</string>
    <key>L.60pt_3</key>
    <string>L_.60pt_3.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.42pt</key>
    <string>M_.42pt.glif</string>
    <key>M.48pt</key>
    <string>M_.48pt.glif</string>
    <key>M.60pt</key>
    <string>M_.60pt.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.24pt</key>
    <string>N_.24pt.glif</string>
    <key>N.30pt</key>
    <string>N_.30pt.glif</string>
    <key>N.30pt_2</key>
    <string>N_.30pt_2.glif</string>
    <key>N.42pt</key>
    <string>N_.42pt.glif</string>
    <key>N.48pt</key>
    <string>N_.48pt.glif</string>
    <key>N.48pt_2</key>
    <string>N_.48pt_2.glif</string>
    <key>N.48pt_3</key>
    <string>N_.48pt_3.glif</string>
    <key>N.54pt</key>
    <string>N_.54pt.glif</string>
    <key>N.60pt</key>
    <string>N_.60pt.glif</string>
    <key>N.60pt_2</key>
    <string>N_.60pt_2.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.24pt</key>
    <string>O_.24pt.glif</string>
    <key>O.24pt_2</key>
    <string>O_.24pt_2.glif</string>
    <key>O.24pt_3</key>
    <string>O_.24pt_3.glif</string>
    <key>O.30pt</key>
    <string>O_.30pt.glif</string>
    <key>O.30pt_2</key>
    <string>O_.30pt_2.glif</string>
    <key>O.30pt_3</key>
    <string>O_.30pt_3.glif</string>
    <key>O.42pt</key>
    <string>O_.42pt.glif</string>
    <key>O.48pt</key>
    <string>O_.48pt.glif</string>
    <key>O.48pt_2</key>
    <string>O_.48pt_2.glif</string>
    <key>O.48pt_3</key>
    <string>O_.48pt_3.glif</string>
    <key>O.54pt</key>
    <string>O_.54pt.glif</string>
    <key>O.54pt_2</key>
    <string>O_.54pt_2.glif</string>
    <key>O.60pt</key>
    <string>O_.60pt.glif</string>
    <key>O.60pt_2</key>
    <string>O_.60pt_2.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P.30pt</key>
    <string>P_.30pt.glif</string>
    <key>P.30pt_2</key>
    <string>P_.30pt_2.glif</string>
    <key>P.42pt</key>
    <string>P_.42pt.glif</string>
    <key>P.48pt</key>
    <string>P_.48pt.glif</string>
    <key>P.54pt</key>
    <string>P_.54pt.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.24pt</key>
    <string>R_.24pt.glif</string>
    <key>R.24pt_2</key>
    <string>R_.24pt_2.glif</string>
    <key>R.24pt_3</key>
    <string>R_.24pt_3.glif</string>
    <key>R.30pt</key>
    <string>R_.30pt.glif</string>
    <key>R.30pt_2</key>
    <string>R_.30pt_2.glif</string>
    <key>R.42pt</key>
    <string>R_.42pt.glif</string>
    <key>R.48pt</key>
    <string>R_.48pt.glif</string>
    <key>R.48pt_2</key>
    <string>R_.48pt_2.glif</string>
    <key>R.54pt</key>
    <string>R_.54pt.glif</string>
    <key>R.54pt_2</key>
    <string>R_.54pt_2.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.30pt</key>
    <string>S_.30pt.glif</string>
    <key>S.30pt_2</key>
    <string>S_.30pt_2.glif</string>
    <key>S.30pt_3</key>
    <string>S_.30pt_3.glif</string>
    <key>S.42pt</key>
    <string>S_.42pt.glif</string>
    <key>S.42pt_2</key>
    <string>S_.42pt_2.glif</string>
    <key>S.42pt_3</key>
    <string>S_.42pt_3.glif</string>
    <key>S.42pt_4</key>
    <string>S_.42pt_4.glif</string>
    <key>S.42pt_5</key>
    <string>S_.42pt_5.glif</string>
    <key>S.42pt_6</key>
    <string>S_.42pt_6.glif</string>
    <key>S.48pt</key>
    <string>S_.48pt.glif</string>
    <key>S.48pt_2</key>
    <string>S_.48pt_2.glif</string>
    <key>S.54pt</key>
    <string>S_.54pt.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.24pt</key>
    <string>T_.24pt.glif</string>
    <key>T.24pt_2</key>
    <string>T_.24pt_2.glif</string>
    <key>T.42pt</key>
    <string>T_.42pt.glif</string>
    <key>T.48pt</key>
    <string>T_.48pt.glif</string>
    <key>T.54pt</key>
    <string>T_.54pt.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U.24pt</key>
    <string>U_.24pt.glif</string>
    <key>U.24pt_2</key>
    <string>U_.24pt_2.glif</string>
    <key>U.54pt</key>
    <string>U_.54pt.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>W.24pt</key>
    <string>W_.24pt.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.30pt</key>
    <string>eight.30pt.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.48pt</key>
    <string>four.48pt.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.42pt</key>
    <string>three.42pt.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
