<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.30pt</key>
    <string>A_.30pt.glif</string>
    <key>A.30pt_2</key>
    <string>A_.30pt_2.glif</string>
    <key>A.42pt</key>
    <string>A_.42pt.glif</string>
    <key>A.48pt</key>
    <string>A_.48pt.glif</string>
    <key>A.54pt</key>
    <string>A_.54pt.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>B.30pt</key>
    <string>B_.30pt.glif</string>
    <key>B.36pt</key>
    <string>B_.36pt.glif</string>
    <key>B.48pt</key>
    <string>B_.48pt.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.30pt</key>
    <string>C_.30pt.glif</string>
    <key>C.42pt</key>
    <string>C_.42pt.glif</string>
    <key>C.48pt</key>
    <string>C_.48pt.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.42pt</key>
    <string>D_.42pt.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.30pt</key>
    <string>E_.30pt.glif</string>
    <key>E.30pt_2</key>
    <string>E_.30pt_2.glif</string>
    <key>E.36pt</key>
    <string>E_.36pt.glif</string>
    <key>E.36pt_2</key>
    <string>E_.36pt_2.glif</string>
    <key>E.36pt_3</key>
    <string>E_.36pt_3.glif</string>
    <key>E.42pt</key>
    <string>E_.42pt.glif</string>
    <key>E.48pt</key>
    <string>E_.48pt.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G.42pt</key>
    <string>G_.42pt.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>H.42pt</key>
    <string>H_.42pt.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.30pt</key>
    <string>I_.30pt.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L.30pt</key>
    <string>L_.30pt.glif</string>
    <key>L.30pt_2</key>
    <string>L_.30pt_2.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.30pt</key>
    <string>M_.30pt.glif</string>
    <key>M.30pt_2</key>
    <string>M_.30pt_2.glif</string>
    <key>M.54pt</key>
    <string>M_.54pt.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.30pt</key>
    <string>N_.30pt.glif</string>
    <key>N.30pt_2</key>
    <string>N_.30pt_2.glif</string>
    <key>N.42pt</key>
    <string>N_.42pt.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.30pt</key>
    <string>O_.30pt.glif</string>
    <key>O.42pt</key>
    <string>O_.42pt.glif</string>
    <key>O.42pt_2</key>
    <string>O_.42pt_2.glif</string>
    <key>O.48pt</key>
    <string>O_.48pt.glif</string>
    <key>O.48pt_2</key>
    <string>O_.48pt_2.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P.30pt</key>
    <string>P_.30pt.glif</string>
    <key>P.30pt_2</key>
    <string>P_.30pt_2.glif</string>
    <key>P.36pt</key>
    <string>P_.36pt.glif</string>
    <key>P.72pt</key>
    <string>P_.72pt.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.36pt</key>
    <string>R_.36pt.glif</string>
    <key>R.36pt_2</key>
    <string>R_.36pt_2.glif</string>
    <key>R.36pt_3</key>
    <string>R_.36pt_3.glif</string>
    <key>R.42pt</key>
    <string>R_.42pt.glif</string>
    <key>R.42pt_2</key>
    <string>R_.42pt_2.glif</string>
    <key>R.48pt</key>
    <string>R_.48pt.glif</string>
    <key>R.48pt_2</key>
    <string>R_.48pt_2.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.36pt</key>
    <string>S_.36pt.glif</string>
    <key>S.36pt_2</key>
    <string>S_.36pt_2.glif</string>
    <key>S.48pt</key>
    <string>S_.48pt.glif</string>
    <key>S.72pt</key>
    <string>S_.72pt.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.30pt</key>
    <string>T_.30pt.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U.36pt</key>
    <string>U_.36pt.glif</string>
    <key>U.42pt</key>
    <string>U_.42pt.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.30pt</key>
    <string>a.30pt.glif</string>
    <key>a.30pt_2</key>
    <string>a.30pt_2.glif</string>
    <key>a.36pt</key>
    <string>a.36pt.glif</string>
    <key>a.42pt</key>
    <string>a.42pt.glif</string>
    <key>a.42pt_2</key>
    <string>a.42pt_2.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c.30pt</key>
    <string>c.30pt.glif</string>
    <key>c.36pt</key>
    <string>c.36pt.glif</string>
    <key>c.36pt_2</key>
    <string>c.36pt_2.glif</string>
    <key>c.42pt</key>
    <string>c.42pt.glif</string>
    <key>c.42pt_2</key>
    <string>c.42pt_2.glif</string>
    <key>c.48pt</key>
    <string>c.48pt.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d.36pt</key>
    <string>d.36pt.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.30pt</key>
    <string>e.30pt.glif</string>
    <key>e.30pt_2</key>
    <string>e.30pt_2.glif</string>
    <key>e.30pt_3</key>
    <string>e.30pt_3.glif</string>
    <key>e.30pt_4</key>
    <string>e.30pt_4.glif</string>
    <key>e.36pt</key>
    <string>e.36pt.glif</string>
    <key>e.36pt_2</key>
    <string>e.36pt_2.glif</string>
    <key>e.42pt</key>
    <string>e.42pt.glif</string>
    <key>e.42pt_2</key>
    <string>e.42pt_2.glif</string>
    <key>e.42pt_3</key>
    <string>e.42pt_3.glif</string>
    <key>e.54pt</key>
    <string>e.54pt.glif</string>
    <key>e.54pt_2</key>
    <string>e.54pt_2.glif</string>
    <key>e.72pt</key>
    <string>e.72pt.glif</string>
    <key>e.72pt_2</key>
    <string>e.72pt_2.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.30pt</key>
    <string>g.30pt.glif</string>
    <key>g.48pt</key>
    <string>g.48pt.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>h.42pt</key>
    <string>h.42pt.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i.30pt</key>
    <string>i.30pt.glif</string>
    <key>i.30pt_2</key>
    <string>i.30pt_2.glif</string>
    <key>i.30pt_3</key>
    <string>i.30pt_3.glif</string>
    <key>i.36pt</key>
    <string>i.36pt.glif</string>
    <key>i.36pt_2</key>
    <string>i.36pt_2.glif</string>
    <key>i.48pt</key>
    <string>i.48pt.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l.30pt</key>
    <string>l.30pt.glif</string>
    <key>l.30pt_2</key>
    <string>l.30pt_2.glif</string>
    <key>l.42pt</key>
    <string>l.42pt.glif</string>
    <key>l.42pt_2</key>
    <string>l.42pt_2.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m.36pt</key>
    <string>m.36pt.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.30pt</key>
    <string>n.30pt.glif</string>
    <key>n.36pt</key>
    <string>n.36pt.glif</string>
    <key>n.36pt_2</key>
    <string>n.36pt_2.glif</string>
    <key>n.42pt</key>
    <string>n.42pt.glif</string>
    <key>n.48pt</key>
    <string>n.48pt.glif</string>
    <key>n.48pt_2</key>
    <string>n.48pt_2.glif</string>
    <key>n.54pt</key>
    <string>n.54pt.glif</string>
    <key>n.54pt_2</key>
    <string>n.54pt_2.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.30pt</key>
    <string>o.30pt.glif</string>
    <key>o.30pt_2</key>
    <string>o.30pt_2.glif</string>
    <key>o.36pt</key>
    <string>o.36pt.glif</string>
    <key>o.36pt_2</key>
    <string>o.36pt_2.glif</string>
    <key>o.48pt</key>
    <string>o.48pt.glif</string>
    <key>o.48pt_2</key>
    <string>o.48pt_2.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.30pt</key>
    <string>r.30pt.glif</string>
    <key>r.30pt_2</key>
    <string>r.30pt_2.glif</string>
    <key>r.42pt</key>
    <string>r.42pt.glif</string>
    <key>r.42pt_2</key>
    <string>r.42pt_2.glif</string>
    <key>r.48pt</key>
    <string>r.48pt.glif</string>
    <key>r.54pt</key>
    <string>r.54pt.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.36pt</key>
    <string>s.36pt.glif</string>
    <key>s.48pt</key>
    <string>s.48pt.glif</string>
    <key>s.54pt</key>
    <string>s.54pt.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.36pt</key>
    <string>six.36pt.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.30pt</key>
    <string>t.30pt.glif</string>
    <key>t.30pt_2</key>
    <string>t.30pt_2.glif</string>
    <key>t.30pt_3</key>
    <string>t.30pt_3.glif</string>
    <key>t.36pt</key>
    <string>t.36pt.glif</string>
    <key>t.36pt_2</key>
    <string>t.36pt_2.glif</string>
    <key>t.42pt</key>
    <string>t.42pt.glif</string>
    <key>t.42pt_2</key>
    <string>t.42pt_2.glif</string>
    <key>t.48pt</key>
    <string>t.48pt.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.30pt</key>
    <string>three.30pt.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
  </dict>
</plist>
