<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.24pt</key>
    <string>A_.24pt.glif</string>
    <key>A.24pt_2</key>
    <string>A_.24pt_2.glif</string>
    <key>A.36pt</key>
    <string>A_.36pt.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.24pt</key>
    <string>E_.24pt.glif</string>
    <key>E.24pt_2</key>
    <string>E_.24pt_2.glif</string>
    <key>E.36pt</key>
    <string>E_.36pt.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.24pt</key>
    <string>I_.24pt.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L.24pt</key>
    <string>L_.24pt.glif</string>
    <key>L.24pt_2</key>
    <string>L_.24pt_2.glif</string>
    <key>L.24pt_3</key>
    <string>L_.24pt_3.glif</string>
    <key>L.36pt</key>
    <string>L_.36pt.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.24pt</key>
    <string>N_.24pt.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.54pt</key>
    <string>R_.54pt.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.24pt</key>
    <string>S_.24pt.glif</string>
    <key>S.24pt_2</key>
    <string>S_.24pt_2.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.24pt</key>
    <string>T_.24pt.glif</string>
    <key>T.24pt_2</key>
    <string>T_.24pt_2.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U.24pt</key>
    <string>U_.24pt.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Y.24pt</key>
    <string>Y_.24pt.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>three</key>
    <string>three.glif</string>
  </dict>
</plist>
