<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.30pt</key>
    <string>A_.30pt.glif</string>
    <key>A.36pt</key>
    <string>A_.36pt.glif</string>
    <key>A.42pt</key>
    <string>A_.42pt.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>B.30pt</key>
    <string>B_.30pt.glif</string>
    <key>B.30pt_2</key>
    <string>B_.30pt_2.glif</string>
    <key>B.30pt_3</key>
    <string>B_.30pt_3.glif</string>
    <key>B.36pt</key>
    <string>B_.36pt.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.30pt</key>
    <string>C_.30pt.glif</string>
    <key>C.36pt</key>
    <string>C_.36pt.glif</string>
    <key>C.42pt</key>
    <string>C_.42pt.glif</string>
    <key>C.42pt_2</key>
    <string>C_.42pt_2.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.30pt</key>
    <string>D_.30pt.glif</string>
    <key>D.36pt</key>
    <string>D_.36pt.glif</string>
    <key>D.48pt</key>
    <string>D_.48pt.glif</string>
    <key>D.48pt_2</key>
    <string>D_.48pt_2.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.36pt</key>
    <string>E_.36pt.glif</string>
    <key>E.42pt</key>
    <string>E_.42pt.glif</string>
    <key>E.42pt_2</key>
    <string>E_.42pt_2.glif</string>
    <key>E.42pt_3</key>
    <string>E_.42pt_3.glif</string>
    <key>E.54pt</key>
    <string>E_.54pt.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>F.30pt</key>
    <string>F_.30pt.glif</string>
    <key>F.42pt</key>
    <string>F_.42pt.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G.30pt</key>
    <string>G_.30pt.glif</string>
    <key>G.30pt_2</key>
    <string>G_.30pt_2.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>H.30pt</key>
    <string>H_.30pt.glif</string>
    <key>H.36pt</key>
    <string>H_.36pt.glif</string>
    <key>H.36pt_2</key>
    <string>H_.36pt_2.glif</string>
    <key>H.42pt</key>
    <string>H_.42pt.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.30pt</key>
    <string>I_.30pt.glif</string>
    <key>I.30pt_2</key>
    <string>I_.30pt_2.glif</string>
    <key>I.30pt_3</key>
    <string>I_.30pt_3.glif</string>
    <key>I.42pt</key>
    <string>I_.42pt.glif</string>
    <key>I.60pt</key>
    <string>I_.60pt.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L.30pt</key>
    <string>L_.30pt.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.36pt</key>
    <string>N_.36pt.glif</string>
    <key>N.42pt</key>
    <string>N_.42pt.glif</string>
    <key>N.54pt</key>
    <string>N_.54pt.glif</string>
    <key>N.60pt</key>
    <string>N_.60pt.glif</string>
    <key>N.72pt</key>
    <string>N_.72pt.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.36pt</key>
    <string>O_.36pt.glif</string>
    <key>O.48pt</key>
    <string>O_.48pt.glif</string>
    <key>O.48pt_2</key>
    <string>O_.48pt_2.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P.42pt</key>
    <string>P_.42pt.glif</string>
    <key>P.60pt</key>
    <string>P_.60pt.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.30pt</key>
    <string>R_.30pt.glif</string>
    <key>R.30pt_2</key>
    <string>R_.30pt_2.glif</string>
    <key>R.36pt</key>
    <string>R_.36pt.glif</string>
    <key>R.48pt</key>
    <string>R_.48pt.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.30pt</key>
    <string>S_.30pt.glif</string>
    <key>S.36pt</key>
    <string>S_.36pt.glif</string>
    <key>S.42pt</key>
    <string>S_.42pt.glif</string>
    <key>S.42pt_2</key>
    <string>S_.42pt_2.glif</string>
    <key>S.48pt</key>
    <string>S_.48pt.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.42pt</key>
    <string>a.42pt.glif</string>
    <key>a.42pt_2</key>
    <string>a.42pt_2.glif</string>
    <key>a.42pt_3</key>
    <string>a.42pt_3.glif</string>
    <key>a.54pt</key>
    <string>a.54pt.glif</string>
    <key>a.60pt</key>
    <string>a.60pt.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d.30pt</key>
    <string>d.30pt.glif</string>
    <key>d.36pt</key>
    <string>d.36pt.glif</string>
    <key>d.42pt</key>
    <string>d.42pt.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.30pt</key>
    <string>e.30pt.glif</string>
    <key>e.30pt_2</key>
    <string>e.30pt_2.glif</string>
    <key>e.30pt_3</key>
    <string>e.30pt_3.glif</string>
    <key>e.36pt</key>
    <string>e.36pt.glif</string>
    <key>e.36pt_2</key>
    <string>e.36pt_2.glif</string>
    <key>e.42pt</key>
    <string>e.42pt.glif</string>
    <key>e.48pt</key>
    <string>e.48pt.glif</string>
    <key>e.48pt_2</key>
    <string>e.48pt_2.glif</string>
    <key>e.54pt</key>
    <string>e.54pt.glif</string>
    <key>e.60pt</key>
    <string>e.60pt.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i.30pt</key>
    <string>i.30pt.glif</string>
    <key>i.36pt</key>
    <string>i.36pt.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m.30pt</key>
    <string>m.30pt.glif</string>
    <key>m.42pt</key>
    <string>m.42pt.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.36pt</key>
    <string>n.36pt.glif</string>
    <key>n.36pt_2</key>
    <string>n.36pt_2.glif</string>
    <key>n.36pt_3</key>
    <string>n.36pt_3.glif</string>
    <key>n.42pt</key>
    <string>n.42pt.glif</string>
    <key>n.48pt</key>
    <string>n.48pt.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.30pt</key>
    <string>nine.30pt.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.30pt</key>
    <string>o.30pt.glif</string>
    <key>o.30pt_2</key>
    <string>o.30pt_2.glif</string>
    <key>o.30pt_3</key>
    <string>o.30pt_3.glif</string>
    <key>o.36pt</key>
    <string>o.36pt.glif</string>
    <key>o.36pt_2</key>
    <string>o.36pt_2.glif</string>
    <key>o.36pt_3</key>
    <string>o.36pt_3.glif</string>
    <key>o.48pt</key>
    <string>o.48pt.glif</string>
    <key>o.48pt_2</key>
    <string>o.48pt_2.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.30pt</key>
    <string>r.30pt.glif</string>
    <key>r.30pt_2</key>
    <string>r.30pt_2.glif</string>
    <key>r.36pt</key>
    <string>r.36pt.glif</string>
    <key>r.36pt_2</key>
    <string>r.36pt_2.glif</string>
    <key>r.42pt</key>
    <string>r.42pt.glif</string>
    <key>r.42pt_2</key>
    <string>r.42pt_2.glif</string>
    <key>r.54pt</key>
    <string>r.54pt.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.30pt</key>
    <string>s.30pt.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.48pt</key>
    <string>seven.48pt.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.30pt</key>
    <string>t.30pt.glif</string>
    <key>t.30pt_2</key>
    <string>t.30pt_2.glif</string>
    <key>t.30pt_3</key>
    <string>t.30pt_3.glif</string>
    <key>t.36pt</key>
    <string>t.36pt.glif</string>
    <key>t.36pt_2</key>
    <string>t.36pt_2.glif</string>
    <key>t.48pt</key>
    <string>t.48pt.glif</string>
    <key>t.48pt_2</key>
    <string>t.48pt_2.glif</string>
    <key>t.54pt</key>
    <string>t.54pt.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>y</key>
    <string>y.glif</string>
  </dict>
</plist>
