<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.ten</key>
    <string>M_.ten.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.eight</key>
    <string>S_.eight.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U.eight</key>
    <string>U_.eight.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>two</key>
    <string>two.glif</string>
  </dict>
</plist>
