<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.30pt</key>
    <string>C_.30pt.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.24pt</key>
    <string>D_.24pt.glif</string>
    <key>D.42pt</key>
    <string>D_.42pt.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.24pt</key>
    <string>E_.24pt.glif</string>
    <key>E.30pt</key>
    <string>E_.30pt.glif</string>
    <key>E.30pt_2</key>
    <string>E_.30pt_2.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>F.24pt</key>
    <string>F_.24pt.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G.24pt</key>
    <string>G_.24pt.glif</string>
    <key>G.48pt</key>
    <string>G_.48pt.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.24pt</key>
    <string>I_.24pt.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.24pt</key>
    <string>N_.24pt.glif</string>
    <key>N.24pt_2</key>
    <string>N_.24pt_2.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.30pt</key>
    <string>O_.30pt.glif</string>
    <key>O.42pt</key>
    <string>O_.42pt.glif</string>
    <key>O.42pt_2</key>
    <string>O_.42pt_2.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.24pt</key>
    <string>R_.24pt.glif</string>
    <key>R.24pt_2</key>
    <string>R_.24pt_2.glif</string>
    <key>R.24pt_3</key>
    <string>R_.24pt_3.glif</string>
    <key>R.42pt</key>
    <string>R_.42pt.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.30pt</key>
    <string>S_.30pt.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U.24pt</key>
    <string>U_.24pt.glif</string>
    <key>U.24pt_2</key>
    <string>U_.24pt_2.glif</string>
    <key>U.30pt</key>
    <string>U_.30pt.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.42pt</key>
    <string>eight.42pt.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>three</key>
    <string>three.glif</string>
  </dict>
</plist>
