<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.42pt</key>
    <string>A_.42pt.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.42pt</key>
    <string>E_.42pt.glif</string>
    <key>E.48pt</key>
    <string>E_.48pt.glif</string>
    <key>E.48pt_2</key>
    <string>E_.48pt_2.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.42pt</key>
    <string>I_.42pt.glif</string>
    <key>I.42pt_2</key>
    <string>I_.42pt_2.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.42pt</key>
    <string>O_.42pt.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.42pt</key>
    <string>R_.42pt.glif</string>
    <key>R.42pt_2</key>
    <string>R_.42pt_2.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.48pt</key>
    <string>S_.48pt.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.42pt</key>
    <string>T_.42pt.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c.42pt</key>
    <string>c.42pt.glif</string>
    <key>c.48pt</key>
    <string>c.48pt.glif</string>
    <key>c.48pt_2</key>
    <string>c.48pt_2.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.42pt</key>
    <string>e.42pt.glif</string>
    <key>e.48pt</key>
    <string>e.48pt.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i.42pt</key>
    <string>i.42pt.glif</string>
    <key>i.48pt</key>
    <string>i.48pt.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.42pt</key>
    <string>n.42pt.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.42pt</key>
    <string>r.42pt.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.42pt</key>
    <string>s.42pt.glif</string>
    <key>s.42pt_2</key>
    <string>s.42pt_2.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.42pt</key>
    <string>t.42pt.glif</string>
    <key>t.42pt_2</key>
    <string>t.42pt_2.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u.42pt</key>
    <string>u.42pt.glif</string>
    <key>y</key>
    <string>y.glif</string>
  </dict>
</plist>
