<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.24pt</key>
    <string>A_.24pt.glif</string>
    <key>A.30pt</key>
    <string>A_.30pt.glif</string>
    <key>A.30pt_2</key>
    <string>A_.30pt_2.glif</string>
    <key>A.54pt</key>
    <string>A_.54pt.glif</string>
    <key>A.54pt_2</key>
    <string>A_.54pt_2.glif</string>
    <key>A.54pt_3</key>
    <string>A_.54pt_3.glif</string>
    <key>A.60pt</key>
    <string>A_.60pt.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>B.24pt</key>
    <string>B_.24pt.glif</string>
    <key>B.54pt</key>
    <string>B_.54pt.glif</string>
    <key>B.60pt</key>
    <string>B_.60pt.glif</string>
    <key>B.72pt</key>
    <string>B_.72pt.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.30pt</key>
    <string>C_.30pt.glif</string>
    <key>C.72pt</key>
    <string>C_.72pt.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.30pt</key>
    <string>D_.30pt.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.24pt</key>
    <string>E_.24pt.glif</string>
    <key>E.24pt_2</key>
    <string>E_.24pt_2.glif</string>
    <key>E.24pt_3</key>
    <string>E_.24pt_3.glif</string>
    <key>E.30pt</key>
    <string>E_.30pt.glif</string>
    <key>E.30pt_2</key>
    <string>E_.30pt_2.glif</string>
    <key>E.54pt</key>
    <string>E_.54pt.glif</string>
    <key>E.60pt</key>
    <string>E_.60pt.glif</string>
    <key>E.60pt_2</key>
    <string>E_.60pt_2.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>F.24pt</key>
    <string>F_.24pt.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>H.24pt</key>
    <string>H_.24pt.glif</string>
    <key>H.30pt</key>
    <string>H_.30pt.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.24pt</key>
    <string>I_.24pt.glif</string>
    <key>I.30pt</key>
    <string>I_.30pt.glif</string>
    <key>I.30pt_2</key>
    <string>I_.30pt_2.glif</string>
    <key>I.30pt_3</key>
    <string>I_.30pt_3.glif</string>
    <key>I.54pt</key>
    <string>I_.54pt.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>K.24pt</key>
    <string>K_.24pt.glif</string>
    <key>K.24pt_2</key>
    <string>K_.24pt_2.glif</string>
    <key>K.54pt</key>
    <string>K_.54pt.glif</string>
    <key>K.72pt</key>
    <string>K_.72pt.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L.24pt</key>
    <string>L_.24pt.glif</string>
    <key>L.24pt_2</key>
    <string>L_.24pt_2.glif</string>
    <key>L.24pt_3</key>
    <string>L_.24pt_3.glif</string>
    <key>L.54pt</key>
    <string>L_.54pt.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.24pt</key>
    <string>M_.24pt.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.30pt</key>
    <string>N_.30pt.glif</string>
    <key>N.30pt_2</key>
    <string>N_.30pt_2.glif</string>
    <key>N.30pt_3</key>
    <string>N_.30pt_3.glif</string>
    <key>N.30pt_4</key>
    <string>N_.30pt_4.glif</string>
    <key>N.54pt</key>
    <string>N_.54pt.glif</string>
    <key>N.54pt_2</key>
    <string>N_.54pt_2.glif</string>
    <key>N.54pt_3</key>
    <string>N_.54pt_3.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.24pt</key>
    <string>O_.24pt.glif</string>
    <key>O.24pt_2</key>
    <string>O_.24pt_2.glif</string>
    <key>O.24pt_3</key>
    <string>O_.24pt_3.glif</string>
    <key>O.24pt_4</key>
    <string>O_.24pt_4.glif</string>
    <key>O.24pt_5</key>
    <string>O_.24pt_5.glif</string>
    <key>O.54pt</key>
    <string>O_.54pt.glif</string>
    <key>O.72pt</key>
    <string>O_.72pt.glif</string>
    <key>O.72pt_2</key>
    <string>O_.72pt_2.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P.30pt</key>
    <string>P_.30pt.glif</string>
    <key>P.30pt_2</key>
    <string>P_.30pt_2.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.24pt</key>
    <string>R_.24pt.glif</string>
    <key>R.30pt</key>
    <string>R_.30pt.glif</string>
    <key>R.30pt_2</key>
    <string>R_.30pt_2.glif</string>
    <key>R.54pt</key>
    <string>R_.54pt.glif</string>
    <key>R.60pt</key>
    <string>R_.60pt.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.24pt</key>
    <string>S_.24pt.glif</string>
    <key>S.24pt_2</key>
    <string>S_.24pt_2.glif</string>
    <key>S.24pt_3</key>
    <string>S_.24pt_3.glif</string>
    <key>S.24pt_4</key>
    <string>S_.24pt_4.glif</string>
    <key>S.30pt</key>
    <string>S_.30pt.glif</string>
    <key>S.30pt_2</key>
    <string>S_.30pt_2.glif</string>
    <key>S.30pt_3</key>
    <string>S_.30pt_3.glif</string>
    <key>S.54pt</key>
    <string>S_.54pt.glif</string>
    <key>S.60pt</key>
    <string>S_.60pt.glif</string>
    <key>S.72pt</key>
    <string>S_.72pt.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.24pt</key>
    <string>T_.24pt.glif</string>
    <key>T.24pt_2</key>
    <string>T_.24pt_2.glif</string>
    <key>T.24pt_3</key>
    <string>T_.24pt_3.glif</string>
    <key>T.24pt_4</key>
    <string>T_.24pt_4.glif</string>
    <key>T.24pt_5</key>
    <string>T_.24pt_5.glif</string>
    <key>T.30pt</key>
    <string>T_.30pt.glif</string>
    <key>T.54pt</key>
    <string>T_.54pt.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U.24pt</key>
    <string>U_.24pt.glif</string>
    <key>U.60pt</key>
    <string>U_.60pt.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Y.24pt</key>
    <string>Y_.24pt.glif</string>
    <key>Y.60pt</key>
    <string>Y_.60pt.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.30pt</key>
    <string>eight.30pt.glif</string>
    <key>eight.54pt</key>
    <string>eight.54pt.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.30pt</key>
    <string>four.30pt.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.24pt</key>
    <string>nine.24pt.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.54pt</key>
    <string>six.54pt.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>two</key>
    <string>two.glif</string>
  </dict>
</plist>
