<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.36pt</key>
    <string>A_.36pt.glif</string>
    <key>A.48pt</key>
    <string>A_.48pt.glif</string>
    <key>A.60pt</key>
    <string>A_.60pt.glif</string>
    <key>A.60pt_2</key>
    <string>A_.60pt_2.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>B.30pt</key>
    <string>B_.30pt.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.36pt</key>
    <string>C_.36pt.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.30pt</key>
    <string>D_.30pt.glif</string>
    <key>D.30pt_2</key>
    <string>D_.30pt_2.glif</string>
    <key>D.30pt_3</key>
    <string>D_.30pt_3.glif</string>
    <key>D.48pt</key>
    <string>D_.48pt.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.30pt</key>
    <string>E_.30pt.glif</string>
    <key>E.30pt_2</key>
    <string>E_.30pt_2.glif</string>
    <key>E.30pt_3</key>
    <string>E_.30pt_3.glif</string>
    <key>E.30pt_4</key>
    <string>E_.30pt_4.glif</string>
    <key>E.36pt</key>
    <string>E_.36pt.glif</string>
    <key>E.36pt_2</key>
    <string>E_.36pt_2.glif</string>
    <key>E.36pt_3</key>
    <string>E_.36pt_3.glif</string>
    <key>E.60pt</key>
    <string>E_.60pt.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.48pt</key>
    <string>I_.48pt.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.60pt</key>
    <string>M_.60pt.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.36pt</key>
    <string>N_.36pt.glif</string>
    <key>N.36pt_2</key>
    <string>N_.36pt_2.glif</string>
    <key>N.36pt_3</key>
    <string>N_.36pt_3.glif</string>
    <key>N.48pt</key>
    <string>N_.48pt.glif</string>
    <key>N.48pt_2</key>
    <string>N_.48pt_2.glif</string>
    <key>N.60pt</key>
    <string>N_.60pt.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.36pt</key>
    <string>O_.36pt.glif</string>
    <key>O.36pt_2</key>
    <string>O_.36pt_2.glif</string>
    <key>O.48pt</key>
    <string>O_.48pt.glif</string>
    <key>O.48pt_2</key>
    <string>O_.48pt_2.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.30pt</key>
    <string>R_.30pt.glif</string>
    <key>R.36pt</key>
    <string>R_.36pt.glif</string>
    <key>R.36pt_2</key>
    <string>R_.36pt_2.glif</string>
    <key>R.60pt</key>
    <string>R_.60pt.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.30pt</key>
    <string>S_.30pt.glif</string>
    <key>S.30pt_2</key>
    <string>S_.30pt_2.glif</string>
    <key>S.48pt</key>
    <string>S_.48pt.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.30pt</key>
    <string>T_.30pt.glif</string>
    <key>T.36pt</key>
    <string>T_.36pt.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U.30pt</key>
    <string>U_.30pt.glif</string>
    <key>U.36pt</key>
    <string>U_.36pt.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.30pt</key>
    <string>a.30pt.glif</string>
    <key>a.30pt_2</key>
    <string>a.30pt_2.glif</string>
    <key>a.36pt</key>
    <string>a.36pt.glif</string>
    <key>a.48pt</key>
    <string>a.48pt.glif</string>
    <key>a.60pt</key>
    <string>a.60pt.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>b.30pt</key>
    <string>b.30pt.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d.30pt</key>
    <string>d.30pt.glif</string>
    <key>d.60pt</key>
    <string>d.60pt.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.30pt</key>
    <string>e.30pt.glif</string>
    <key>e.30pt_2</key>
    <string>e.30pt_2.glif</string>
    <key>e.48pt</key>
    <string>e.48pt.glif</string>
    <key>e.48pt_2</key>
    <string>e.48pt_2.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.36pt</key>
    <string>eight.36pt.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f.30pt</key>
    <string>f.30pt.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.48pt</key>
    <string>four.48pt.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i.30pt</key>
    <string>i.30pt.glif</string>
    <key>i.30pt_2</key>
    <string>i.30pt_2.glif</string>
    <key>i.72pt</key>
    <string>i.72pt.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l.30pt</key>
    <string>l.30pt.glif</string>
    <key>l.36pt</key>
    <string>l.36pt.glif</string>
    <key>l.48pt</key>
    <string>l.48pt.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m.36pt</key>
    <string>m.36pt.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.30pt</key>
    <string>n.30pt.glif</string>
    <key>n.30pt_2</key>
    <string>n.30pt_2.glif</string>
    <key>n.30pt_3</key>
    <string>n.30pt_3.glif</string>
    <key>n.36pt</key>
    <string>n.36pt.glif</string>
    <key>n.36pt_2</key>
    <string>n.36pt_2.glif</string>
    <key>n.60pt</key>
    <string>n.60pt.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.30pt</key>
    <string>o.30pt.glif</string>
    <key>o.36pt</key>
    <string>o.36pt.glif</string>
    <key>o.36pt_2</key>
    <string>o.36pt_2.glif</string>
    <key>o.36pt_3</key>
    <string>o.36pt_3.glif</string>
    <key>o.48pt</key>
    <string>o.48pt.glif</string>
    <key>o.48pt_2</key>
    <string>o.48pt_2.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.30pt</key>
    <string>r.30pt.glif</string>
    <key>r.30pt_2</key>
    <string>r.30pt_2.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.36pt</key>
    <string>s.36pt.glif</string>
    <key>s.36pt_2</key>
    <string>s.36pt_2.glif</string>
    <key>s.48pt</key>
    <string>s.48pt.glif</string>
    <key>s.48pt_2</key>
    <string>s.48pt_2.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.30pt</key>
    <string>six.30pt.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.30pt</key>
    <string>t.30pt.glif</string>
    <key>t.30pt_2</key>
    <string>t.30pt_2.glif</string>
    <key>t.36pt</key>
    <string>t.36pt.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u.30pt</key>
    <string>u.30pt.glif</string>
    <key>u.36pt</key>
    <string>u.36pt.glif</string>
    <key>u.48pt</key>
    <string>u.48pt.glif</string>
    <key>u.72pt</key>
    <string>u.72pt.glif</string>
    <key>v</key>
    <string>v.glif</string>
  </dict>
</plist>
