<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.36pt</key>
    <string>A_.36pt.glif</string>
    <key>A.36pt_2</key>
    <string>A_.36pt_2.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.36pt</key>
    <string>E_.36pt.glif</string>
    <key>E.36pt_2</key>
    <string>E_.36pt_2.glif</string>
    <key>E.48pt</key>
    <string>E_.48pt.glif</string>
    <key>E.48pt_2</key>
    <string>E_.48pt_2.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G.48pt</key>
    <string>G_.48pt.glif</string>
    <key>G.72pt</key>
    <string>G_.72pt.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>H.48pt</key>
    <string>H_.48pt.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.48pt</key>
    <string>I_.48pt.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L.36pt</key>
    <string>L_.36pt.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.36pt</key>
    <string>M_.36pt.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.48pt</key>
    <string>N_.48pt.glif</string>
    <key>N.60pt</key>
    <string>N_.60pt.glif</string>
    <key>N.60pt_2</key>
    <string>N_.60pt_2.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.48pt</key>
    <string>O_.48pt.glif</string>
    <key>O.60pt</key>
    <string>O_.60pt.glif</string>
    <key>O.72pt</key>
    <string>O_.72pt.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P.36pt</key>
    <string>P_.36pt.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.36pt</key>
    <string>R_.36pt.glif</string>
    <key>R.36pt_2</key>
    <string>R_.36pt_2.glif</string>
    <key>R.48pt</key>
    <string>R_.48pt.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.36pt</key>
    <string>S_.36pt.glif</string>
    <key>S.36pt_2</key>
    <string>S_.36pt_2.glif</string>
    <key>S.36pt_3</key>
    <string>S_.36pt_3.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.36pt</key>
    <string>T_.36pt.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.48pt</key>
    <string>a.48pt.glif</string>
    <key>a.48pt_2</key>
    <string>a.48pt_2.glif</string>
    <key>a.60pt</key>
    <string>a.60pt.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c.36pt</key>
    <string>c.36pt.glif</string>
    <key>c.36pt_2</key>
    <string>c.36pt_2.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.36pt</key>
    <string>e.36pt.glif</string>
    <key>e.36pt_2</key>
    <string>e.36pt_2.glif</string>
    <key>e.36pt_3</key>
    <string>e.36pt_3.glif</string>
    <key>e.36pt_4</key>
    <string>e.36pt_4.glif</string>
    <key>e.48pt</key>
    <string>e.48pt.glif</string>
    <key>e.60pt</key>
    <string>e.60pt.glif</string>
    <key>e.60pt_2</key>
    <string>e.60pt_2.glif</string>
    <key>e.72pt</key>
    <string>e.72pt.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.48pt</key>
    <string>g.48pt.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>h.48pt</key>
    <string>h.48pt.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i.36pt</key>
    <string>i.36pt.glif</string>
    <key>i.48pt</key>
    <string>i.48pt.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.36pt</key>
    <string>n.36pt.glif</string>
    <key>n.48pt</key>
    <string>n.48pt.glif</string>
    <key>n.48pt_2</key>
    <string>n.48pt_2.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.36pt</key>
    <string>s.36pt.glif</string>
    <key>s.36pt_2</key>
    <string>s.36pt_2.glif</string>
    <key>s.60pt</key>
    <string>s.60pt.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.36pt</key>
    <string>t.36pt.glif</string>
    <key>t.48pt</key>
    <string>t.48pt.glif</string>
    <key>t.60pt</key>
    <string>t.60pt.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u.36pt</key>
    <string>u.36pt.glif</string>
  </dict>
</plist>
