<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.30pt</key>
    <string>A_.30pt.glif</string>
    <key>A.30pt_2</key>
    <string>A_.30pt_2.glif</string>
    <key>A.36pt</key>
    <string>A_.36pt.glif</string>
    <key>A.36pt_2</key>
    <string>A_.36pt_2.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.48pt</key>
    <string>C_.48pt.glif</string>
    <key>C.48pt_2</key>
    <string>C_.48pt_2.glif</string>
    <key>C.60pt</key>
    <string>C_.60pt.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.36pt</key>
    <string>D_.36pt.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.30pt</key>
    <string>E_.30pt.glif</string>
    <key>E.30pt_2</key>
    <string>E_.30pt_2.glif</string>
    <key>E.30pt_3</key>
    <string>E_.30pt_3.glif</string>
    <key>E.36pt</key>
    <string>E_.36pt.glif</string>
    <key>E.36pt_2</key>
    <string>E_.36pt_2.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G.30pt</key>
    <string>G_.30pt.glif</string>
    <key>G.36pt</key>
    <string>G_.36pt.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.30pt</key>
    <string>I_.30pt.glif</string>
    <key>I.30pt_2</key>
    <string>I_.30pt_2.glif</string>
    <key>I.30pt_3</key>
    <string>I_.30pt_3.glif</string>
    <key>I.30pt_4</key>
    <string>I_.30pt_4.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L.30pt</key>
    <string>L_.30pt.glif</string>
    <key>L.30pt_2</key>
    <string>L_.30pt_2.glif</string>
    <key>L.36pt</key>
    <string>L_.36pt.glif</string>
    <key>L.36pt_2</key>
    <string>L_.36pt_2.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.30pt</key>
    <string>M_.30pt.glif</string>
    <key>M.48pt</key>
    <string>M_.48pt.glif</string>
    <key>M.60pt</key>
    <string>M_.60pt.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.30pt</key>
    <string>N_.30pt.glif</string>
    <key>N.30pt_2</key>
    <string>N_.30pt_2.glif</string>
    <key>N.30pt_3</key>
    <string>N_.30pt_3.glif</string>
    <key>N.30pt_4</key>
    <string>N_.30pt_4.glif</string>
    <key>N.36pt</key>
    <string>N_.36pt.glif</string>
    <key>N.60pt</key>
    <string>N_.60pt.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.30pt</key>
    <string>O_.30pt.glif</string>
    <key>O.30pt_2</key>
    <string>O_.30pt_2.glif</string>
    <key>O.36pt</key>
    <string>O_.36pt.glif</string>
    <key>O.48pt</key>
    <string>O_.48pt.glif</string>
    <key>O.48pt_2</key>
    <string>O_.48pt_2.glif</string>
    <key>O.60pt</key>
    <string>O_.60pt.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P.30pt</key>
    <string>P_.30pt.glif</string>
    <key>P.48pt</key>
    <string>P_.48pt.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.30pt</key>
    <string>R_.30pt.glif</string>
    <key>R.36pt</key>
    <string>R_.36pt.glif</string>
    <key>R.36pt_2</key>
    <string>R_.36pt_2.glif</string>
    <key>R.36pt_3</key>
    <string>R_.36pt_3.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.30pt</key>
    <string>S_.30pt.glif</string>
    <key>S.30pt_2</key>
    <string>S_.30pt_2.glif</string>
    <key>S.36pt</key>
    <string>S_.36pt.glif</string>
    <key>S.48pt</key>
    <string>S_.48pt.glif</string>
    <key>S.60pt</key>
    <string>S_.60pt.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.30pt</key>
    <string>T_.30pt.glif</string>
    <key>T.36pt</key>
    <string>T_.36pt.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U.36pt</key>
    <string>U_.36pt.glif</string>
    <key>U.36pt_2</key>
    <string>U_.36pt_2.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c.30pt</key>
    <string>c.30pt.glif</string>
    <key>c.30pt_2</key>
    <string>c.30pt_2.glif</string>
    <key>c.36pt</key>
    <string>c.36pt.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d.48pt</key>
    <string>d.48pt.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.30pt</key>
    <string>e.30pt.glif</string>
    <key>e.30pt_2</key>
    <string>e.30pt_2.glif</string>
    <key>e.30pt_3</key>
    <string>e.30pt_3.glif</string>
    <key>e.30pt_4</key>
    <string>e.30pt_4.glif</string>
    <key>e.30pt_5</key>
    <string>e.30pt_5.glif</string>
    <key>e.36pt</key>
    <string>e.36pt.glif</string>
    <key>e.36pt_2</key>
    <string>e.36pt_2.glif</string>
    <key>e.48pt</key>
    <string>e.48pt.glif</string>
    <key>e.48pt_2</key>
    <string>e.48pt_2.glif</string>
    <key>e.60pt</key>
    <string>e.60pt.glif</string>
    <key>e.60pt_2</key>
    <string>e.60pt_2.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.30pt</key>
    <string>g.30pt.glif</string>
    <key>g.36pt</key>
    <string>g.36pt.glif</string>
    <key>g.36pt_2</key>
    <string>g.36pt_2.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>h.30pt</key>
    <string>h.30pt.glif</string>
    <key>h.30pt_2</key>
    <string>h.30pt_2.glif</string>
    <key>h.30pt_3</key>
    <string>h.30pt_3.glif</string>
    <key>h.36pt</key>
    <string>h.36pt.glif</string>
    <key>h.36pt_2</key>
    <string>h.36pt_2.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i.30pt</key>
    <string>i.30pt.glif</string>
    <key>i.36pt</key>
    <string>i.36pt.glif</string>
    <key>i.36pt_2</key>
    <string>i.36pt_2.glif</string>
    <key>i.48pt</key>
    <string>i.48pt.glif</string>
    <key>i.48pt_2</key>
    <string>i.48pt_2.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l.30pt</key>
    <string>l.30pt.glif</string>
    <key>l.36pt</key>
    <string>l.36pt.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.30pt</key>
    <string>n.30pt.glif</string>
    <key>n.30pt_2</key>
    <string>n.30pt_2.glif</string>
    <key>n.36pt</key>
    <string>n.36pt.glif</string>
    <key>n.36pt_2</key>
    <string>n.36pt_2.glif</string>
    <key>n.48pt</key>
    <string>n.48pt.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.30pt</key>
    <string>o.30pt.glif</string>
    <key>o.30pt_2</key>
    <string>o.30pt_2.glif</string>
    <key>o.30pt_3</key>
    <string>o.30pt_3.glif</string>
    <key>o.30pt_4</key>
    <string>o.30pt_4.glif</string>
    <key>o.36pt</key>
    <string>o.36pt.glif</string>
    <key>o.36pt_2</key>
    <string>o.36pt_2.glif</string>
    <key>o.36pt_3</key>
    <string>o.36pt_3.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.30pt</key>
    <string>r.30pt.glif</string>
    <key>r.36pt</key>
    <string>r.36pt.glif</string>
    <key>r.48pt</key>
    <string>r.48pt.glif</string>
    <key>r.48pt_2</key>
    <string>r.48pt_2.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.30pt</key>
    <string>s.30pt.glif</string>
    <key>s.36pt</key>
    <string>s.36pt.glif</string>
    <key>s.48pt</key>
    <string>s.48pt.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.30pt</key>
    <string>t.30pt.glif</string>
    <key>t.30pt_2</key>
    <string>t.30pt_2.glif</string>
    <key>t.30pt_3</key>
    <string>t.30pt_3.glif</string>
    <key>t.36pt</key>
    <string>t.36pt.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u.36pt</key>
    <string>u.36pt.glif</string>
    <key>u.48pt</key>
    <string>u.48pt.glif</string>
    <key>u.48pt_2</key>
    <string>u.48pt_2.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>y.48pt</key>
    <string>y.48pt.glif</string>
  </dict>
</plist>
