<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.36pt</key>
    <string>A_.36pt.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.36pt</key>
    <string>C_.36pt.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.36pt</key>
    <string>E_.36pt.glif</string>
    <key>E.60pt</key>
    <string>E_.60pt.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>F.36pt</key>
    <string>F_.36pt.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>H.36pt</key>
    <string>H_.36pt.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.36pt</key>
    <string>I_.36pt.glif</string>
    <key>I.60pt</key>
    <string>I_.60pt.glif</string>
    <key>I.60pt_2</key>
    <string>I_.60pt_2.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L.72pt</key>
    <string>L_.72pt.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.36pt</key>
    <string>M_.36pt.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.36pt</key>
    <string>O_.36pt.glif</string>
    <key>O.36pt_2</key>
    <string>O_.36pt_2.glif</string>
    <key>O.60pt</key>
    <string>O_.60pt.glif</string>
    <key>O.60pt_2</key>
    <string>O_.60pt_2.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P.36pt</key>
    <string>P_.36pt.glif</string>
    <key>P.60pt</key>
    <string>P_.60pt.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.36pt</key>
    <string>R_.36pt.glif</string>
    <key>R.36pt_2</key>
    <string>R_.36pt_2.glif</string>
    <key>R.72pt</key>
    <string>R_.72pt.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.36pt</key>
    <string>S_.36pt.glif</string>
    <key>S.36pt_2</key>
    <string>S_.36pt_2.glif</string>
    <key>S.36pt_3</key>
    <string>S_.36pt_3.glif</string>
    <key>S.60pt</key>
    <string>S_.60pt.glif</string>
    <key>S.60pt_2</key>
    <string>S_.60pt_2.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.36pt</key>
    <string>T_.36pt.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.36pt</key>
    <string>a.36pt.glif</string>
    <key>a.36pt_2</key>
    <string>a.36pt_2.glif</string>
    <key>a.36pt_3</key>
    <string>a.36pt_3.glif</string>
    <key>a.36pt_4</key>
    <string>a.36pt_4.glif</string>
    <key>a.60pt</key>
    <string>a.60pt.glif</string>
    <key>a.60pt_2</key>
    <string>a.60pt_2.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c.36pt</key>
    <string>c.36pt.glif</string>
    <key>c.36pt_2</key>
    <string>c.36pt_2.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.36pt</key>
    <string>e.36pt.glif</string>
    <key>e.36pt_2</key>
    <string>e.36pt_2.glif</string>
    <key>e.36pt_3</key>
    <string>e.36pt_3.glif</string>
    <key>e.36pt_4</key>
    <string>e.36pt_4.glif</string>
    <key>e.72pt</key>
    <string>e.72pt.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.36pt</key>
    <string>n.36pt.glif</string>
    <key>n.36pt_2</key>
    <string>n.36pt_2.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.36pt</key>
    <string>o.36pt.glif</string>
    <key>o.60pt</key>
    <string>o.60pt.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>p.36pt</key>
    <string>p.36pt.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.36pt</key>
    <string>r.36pt.glif</string>
    <key>r.60pt</key>
    <string>r.60pt.glif</string>
    <key>r.60pt_2</key>
    <string>r.60pt_2.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.36pt</key>
    <string>s.36pt.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>v.60pt</key>
    <string>v.60pt.glif</string>
    <key>y</key>
    <string>y.glif</string>
  </dict>
</plist>
