<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.30pt</key>
    <string>C_.30pt.glif</string>
    <key>C.36pt</key>
    <string>C_.36pt.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.36pt</key>
    <string>S_.36pt.glif</string>
    <key>S.36pt_2</key>
    <string>S_.36pt_2.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.30pt</key>
    <string>a.30pt.glif</string>
    <key>a.30pt_2</key>
    <string>a.30pt_2.glif</string>
    <key>a.36pt</key>
    <string>a.36pt.glif</string>
    <key>a.36pt_2</key>
    <string>a.36pt_2.glif</string>
    <key>a.36pt_3</key>
    <string>a.36pt_3.glif</string>
    <key>a.48pt</key>
    <string>a.48pt.glif</string>
    <key>a.60pt</key>
    <string>a.60pt.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d.30pt</key>
    <string>d.30pt.glif</string>
    <key>d.30pt_2</key>
    <string>d.30pt_2.glif</string>
    <key>d.30pt_3</key>
    <string>d.30pt_3.glif</string>
    <key>d.48pt</key>
    <string>d.48pt.glif</string>
    <key>d.48pt_2</key>
    <string>d.48pt_2.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.30pt</key>
    <string>e.30pt.glif</string>
    <key>e.30pt_2</key>
    <string>e.30pt_2.glif</string>
    <key>e.30pt_3</key>
    <string>e.30pt_3.glif</string>
    <key>e.30pt_4</key>
    <string>e.30pt_4.glif</string>
    <key>e.30pt_5</key>
    <string>e.30pt_5.glif</string>
    <key>e.36pt</key>
    <string>e.36pt.glif</string>
    <key>e.36pt_2</key>
    <string>e.36pt_2.glif</string>
    <key>e.48pt</key>
    <string>e.48pt.glif</string>
    <key>e.48pt_2</key>
    <string>e.48pt_2.glif</string>
    <key>e.48pt_3</key>
    <string>e.48pt_3.glif</string>
    <key>e.48pt_4</key>
    <string>e.48pt_4.glif</string>
    <key>e.48pt_5</key>
    <string>e.48pt_5.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.36pt</key>
    <string>g.36pt.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l.30pt</key>
    <string>l.30pt.glif</string>
    <key>l.36pt</key>
    <string>l.36pt.glif</string>
    <key>l.36pt_2</key>
    <string>l.36pt_2.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m.30pt</key>
    <string>m.30pt.glif</string>
    <key>m.30pt_2</key>
    <string>m.30pt_2.glif</string>
    <key>m.36pt</key>
    <string>m.36pt.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.30pt</key>
    <string>n.30pt.glif</string>
    <key>n.30pt_2</key>
    <string>n.30pt_2.glif</string>
    <key>n.36pt</key>
    <string>n.36pt.glif</string>
    <key>n.48pt</key>
    <string>n.48pt.glif</string>
    <key>n.48pt_2</key>
    <string>n.48pt_2.glif</string>
    <key>n.60pt</key>
    <string>n.60pt.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.30pt</key>
    <string>o.30pt.glif</string>
    <key>o.36pt</key>
    <string>o.36pt.glif</string>
    <key>o.60pt</key>
    <string>o.60pt.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.30pt</key>
    <string>r.30pt.glif</string>
    <key>r.48pt</key>
    <string>r.48pt.glif</string>
    <key>r.48pt_2</key>
    <string>r.48pt_2.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.30pt</key>
    <string>t.30pt.glif</string>
    <key>t.30pt_2</key>
    <string>t.30pt_2.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>y</key>
    <string>y.glif</string>
  </dict>
</plist>
