<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.48pt</key>
    <string>C_.48pt.glif</string>
    <key>C.54pt</key>
    <string>C_.54pt.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.48pt</key>
    <string>a.48pt.glif</string>
    <key>a.48pt_2</key>
    <string>a.48pt_2.glif</string>
    <key>a.48pt_3</key>
    <string>a.48pt_3.glif</string>
    <key>a.48pt_4</key>
    <string>a.48pt_4.glif</string>
    <key>a.48pt_5</key>
    <string>a.48pt_5.glif</string>
    <key>a.54pt</key>
    <string>a.54pt.glif</string>
    <key>a.54pt_2</key>
    <string>a.54pt_2.glif</string>
    <key>a.54pt_3</key>
    <string>a.54pt_3.glif</string>
    <key>a.60pt</key>
    <string>a.60pt.glif</string>
    <key>a.60pt_2</key>
    <string>a.60pt_2.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d.48pt</key>
    <string>d.48pt.glif</string>
    <key>d.54pt</key>
    <string>d.54pt.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.48pt</key>
    <string>e.48pt.glif</string>
    <key>e.48pt_2</key>
    <string>e.48pt_2.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i.48pt</key>
    <string>i.48pt.glif</string>
    <key>i.48pt_2</key>
    <string>i.48pt_2.glif</string>
    <key>i.48pt_3</key>
    <string>i.48pt_3.glif</string>
    <key>i.48pt_4</key>
    <string>i.48pt_4.glif</string>
    <key>i.60pt</key>
    <string>i.60pt.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l.48pt</key>
    <string>l.48pt.glif</string>
    <key>l.48pt_2</key>
    <string>l.48pt_2.glif</string>
    <key>l.54pt</key>
    <string>l.54pt.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.48pt</key>
    <string>n.48pt.glif</string>
    <key>n.48pt_2</key>
    <string>n.48pt_2.glif</string>
    <key>n.54pt</key>
    <string>n.54pt.glif</string>
    <key>n.54pt_2</key>
    <string>n.54pt_2.glif</string>
    <key>n.54pt_3</key>
    <string>n.54pt_3.glif</string>
    <key>n.60pt</key>
    <string>n.60pt.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.48pt</key>
    <string>o.48pt.glif</string>
    <key>o.54pt</key>
    <string>o.54pt.glif</string>
    <key>o.54pt_2</key>
    <string>o.54pt_2.glif</string>
    <key>o.54pt_3</key>
    <string>o.54pt_3.glif</string>
    <key>o.54pt_4</key>
    <string>o.54pt_4.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.48pt</key>
    <string>r.48pt.glif</string>
    <key>r.48pt_2</key>
    <string>r.48pt_2.glif</string>
    <key>r.48pt_3</key>
    <string>r.48pt_3.glif</string>
    <key>r.54pt</key>
    <string>r.54pt.glif</string>
    <key>r.54pt_2</key>
    <string>r.54pt_2.glif</string>
    <key>r.60pt</key>
    <string>r.60pt.glif</string>
    <key>r.60pt_2</key>
    <string>r.60pt_2.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.48pt</key>
    <string>t.48pt.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>y.54pt</key>
    <string>y.54pt.glif</string>
  </dict>
</plist>
