<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.five</key>
    <string>D_.five.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.five</key>
    <string>E_.five.glif</string>
    <key>E.six</key>
    <string>E_.six.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G.three</key>
    <string>G_.three.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.five</key>
    <string>I_.five.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.four</key>
    <string>N_.four.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.four</key>
    <string>O_.four.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.five</key>
    <string>R_.five.glif</string>
    <key>R.four</key>
    <string>R_.four.glif</string>
    <key>R.three</key>
    <string>R_.three.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.three</key>
    <string>e.three.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>two</key>
    <string>two.glif</string>
  </dict>
</plist>
