<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>770</integer>
    <key>capHeight</key>
    <integer>700</integer>
    <key>copyright</key>
    <string>Source specimen public domain. Font software (c) Engravers Old Black contributors, SIL Open Font License 1.1.</string>
    <key>descender</key>
    <integer>-210</integer>
    <key>familyName</key>
    <string>Engravers Old Black</string>
    <key>openTypeNameDescription</key>
    <string>Revival of Engravers Old Black from 'Book of type specimens. Comprising a large variety of superior copper-mixed type' (Chicago, Barnhart bros. &amp; Spindler, [1907]), leaf 480 (p. 462), Internet Archive item bookoftypespecim00barnrich (NOT_IN_COPYRIGHT). Traced from the printed specimen, never from digital font software; letters the specimen does not show are constructed from traced parts and flagged as such in the PHFD table. Version 0.1.0 (proto).</string>
    <key>openTypeNameDesigner</key>
    <string>Phantom Foundry (revival)</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://openfontlicense.org</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://openfontlicense.org</string>
    <key>openTypeNameManufacturer</key>
    <string>Phantom Foundry</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://github.com/romellogoodman/phantom-foundry</string>
    <key>openTypeNameSampleText</key>
    <string>Neat Compliment 6 Tendered Lady</string>
    <key>openTypeNameVersion</key>
    <string>Version 0.1.0 (proto)</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>0</integer>
    <key>versionMinor</key>
    <integer>1</integer>
    <key>xHeight</key>
    <integer>489</integer>
  </dict>
</plist>
