<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.42pt</key>
    <string>A_.42pt.glif</string>
    <key>A.42pt_2</key>
    <string>A_.42pt_2.glif</string>
    <key>A.48pt</key>
    <string>A_.48pt.glif</string>
    <key>A.48pt_2</key>
    <string>A_.48pt_2.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>B.36pt</key>
    <string>B_.36pt.glif</string>
    <key>B.60pt</key>
    <string>B_.60pt.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.48pt</key>
    <string>C_.48pt.glif</string>
    <key>C.48pt_2</key>
    <string>C_.48pt_2.glif</string>
    <key>C.48pt_3</key>
    <string>C_.48pt_3.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.42pt</key>
    <string>D_.42pt.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.36pt</key>
    <string>E_.36pt.glif</string>
    <key>E.36pt_2</key>
    <string>E_.36pt_2.glif</string>
    <key>E.42pt</key>
    <string>E_.42pt.glif</string>
    <key>E.60pt</key>
    <string>E_.60pt.glif</string>
    <key>E.72pt</key>
    <string>E_.72pt.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L.36pt</key>
    <string>L_.36pt.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.42pt</key>
    <string>M_.42pt.glif</string>
    <key>M.48pt</key>
    <string>M_.48pt.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.36pt</key>
    <string>N_.36pt.glif</string>
    <key>N.42pt</key>
    <string>N_.42pt.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.42pt</key>
    <string>O_.42pt.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P.42pt</key>
    <string>P_.42pt.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.48pt</key>
    <string>R_.48pt.glif</string>
    <key>R.60pt</key>
    <string>R_.60pt.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.36pt</key>
    <string>S_.36pt.glif</string>
    <key>S.36pt_2</key>
    <string>S_.36pt_2.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.36pt</key>
    <string>T_.36pt.glif</string>
    <key>T.36pt_2</key>
    <string>T_.36pt_2.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.36pt</key>
    <string>a.36pt.glif</string>
    <key>a.36pt_2</key>
    <string>a.36pt_2.glif</string>
    <key>a.42pt</key>
    <string>a.42pt.glif</string>
    <key>a.42pt_2</key>
    <string>a.42pt_2.glif</string>
    <key>a.60pt</key>
    <string>a.60pt.glif</string>
    <key>a.72pt</key>
    <string>a.72pt.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.36pt</key>
    <string>e.36pt.glif</string>
    <key>e.42pt</key>
    <string>e.42pt.glif</string>
    <key>e.42pt_2</key>
    <string>e.42pt_2.glif</string>
    <key>e.42pt_3</key>
    <string>e.42pt_3.glif</string>
    <key>e.48pt</key>
    <string>e.48pt.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.36pt</key>
    <string>g.36pt.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i.36pt</key>
    <string>i.36pt.glif</string>
    <key>i.36pt_2</key>
    <string>i.36pt_2.glif</string>
    <key>i.36pt_3</key>
    <string>i.36pt_3.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l.36pt</key>
    <string>l.36pt.glif</string>
    <key>l.36pt_2</key>
    <string>l.36pt_2.glif</string>
    <key>l.42pt</key>
    <string>l.42pt.glif</string>
    <key>l.48pt</key>
    <string>l.48pt.glif</string>
    <key>l.72pt</key>
    <string>l.72pt.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.36pt</key>
    <string>n.36pt.glif</string>
    <key>n.48pt</key>
    <string>n.48pt.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.36pt</key>
    <string>o.36pt.glif</string>
    <key>o.48pt</key>
    <string>o.48pt.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>p.42pt</key>
    <string>p.42pt.glif</string>
    <key>p.42pt_2</key>
    <string>p.42pt_2.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.36pt</key>
    <string>r.36pt.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.36pt</key>
    <string>s.36pt.glif</string>
    <key>s.42pt</key>
    <string>s.42pt.glif</string>
    <key>s.42pt_2</key>
    <string>s.42pt_2.glif</string>
    <key>s.48pt</key>
    <string>s.48pt.glif</string>
    <key>s.60pt</key>
    <string>s.60pt.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.36pt</key>
    <string>t.36pt.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>y</key>
    <string>y.glif</string>
  </dict>
</plist>
