<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.30pt</key>
    <string>A_.30pt.glif</string>
    <key>A.30pt_2</key>
    <string>A_.30pt_2.glif</string>
    <key>A.30pt_3</key>
    <string>A_.30pt_3.glif</string>
    <key>A.30pt_4</key>
    <string>A_.30pt_4.glif</string>
    <key>A.36pt</key>
    <string>A_.36pt.glif</string>
    <key>A.36pt_2</key>
    <string>A_.36pt_2.glif</string>
    <key>A.48pt</key>
    <string>A_.48pt.glif</string>
    <key>A.48pt_2</key>
    <string>A_.48pt_2.glif</string>
    <key>A.60pt</key>
    <string>A_.60pt.glif</string>
    <key>A.60pt_2</key>
    <string>A_.60pt_2.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>B.30pt</key>
    <string>B_.30pt.glif</string>
    <key>B.36pt</key>
    <string>B_.36pt.glif</string>
    <key>B.48pt</key>
    <string>B_.48pt.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.48pt</key>
    <string>C_.48pt.glif</string>
    <key>C.48pt_2</key>
    <string>C_.48pt_2.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.36pt</key>
    <string>D_.36pt.glif</string>
    <key>D.36pt_2</key>
    <string>D_.36pt_2.glif</string>
    <key>D.48pt</key>
    <string>D_.48pt.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.30pt</key>
    <string>E_.30pt.glif</string>
    <key>E.30pt_2</key>
    <string>E_.30pt_2.glif</string>
    <key>E.30pt_3</key>
    <string>E_.30pt_3.glif</string>
    <key>E.36pt</key>
    <string>E_.36pt.glif</string>
    <key>E.36pt_2</key>
    <string>E_.36pt_2.glif</string>
    <key>E.36pt_3</key>
    <string>E_.36pt_3.glif</string>
    <key>E.36pt_4</key>
    <string>E_.36pt_4.glif</string>
    <key>E.48pt</key>
    <string>E_.48pt.glif</string>
    <key>E.72pt</key>
    <string>E_.72pt.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.30pt</key>
    <string>I_.30pt.glif</string>
    <key>I.48pt</key>
    <string>I_.48pt.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L.30pt</key>
    <string>L_.30pt.glif</string>
    <key>L.48pt</key>
    <string>L_.48pt.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.36pt</key>
    <string>M_.36pt.glif</string>
    <key>M.48pt</key>
    <string>M_.48pt.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.30pt</key>
    <string>N_.30pt.glif</string>
    <key>N.36pt</key>
    <string>N_.36pt.glif</string>
    <key>N.48pt</key>
    <string>N_.48pt.glif</string>
    <key>N.60pt</key>
    <string>N_.60pt.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.48pt</key>
    <string>O_.48pt.glif</string>
    <key>O.60pt</key>
    <string>O_.60pt.glif</string>
    <key>O.72pt</key>
    <string>O_.72pt.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.30pt</key>
    <string>R_.30pt.glif</string>
    <key>R.30pt_2</key>
    <string>R_.30pt_2.glif</string>
    <key>R.36pt</key>
    <string>R_.36pt.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.30pt</key>
    <string>S_.30pt.glif</string>
    <key>S.30pt_2</key>
    <string>S_.30pt_2.glif</string>
    <key>S.30pt_3</key>
    <string>S_.30pt_3.glif</string>
    <key>S.36pt</key>
    <string>S_.36pt.glif</string>
    <key>S.36pt_2</key>
    <string>S_.36pt_2.glif</string>
    <key>S.36pt_3</key>
    <string>S_.36pt_3.glif</string>
    <key>S.60pt</key>
    <string>S_.60pt.glif</string>
    <key>S.72pt</key>
    <string>S_.72pt.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.30pt</key>
    <string>T_.30pt.glif</string>
    <key>T.30pt_2</key>
    <string>T_.30pt_2.glif</string>
    <key>T.36pt</key>
    <string>T_.36pt.glif</string>
    <key>T.36pt_2</key>
    <string>T_.36pt_2.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.30pt</key>
    <string>a.30pt.glif</string>
    <key>a.48pt</key>
    <string>a.48pt.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>b.30pt</key>
    <string>b.30pt.glif</string>
    <key>b.30pt_2</key>
    <string>b.30pt_2.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.30pt</key>
    <string>e.30pt.glif</string>
    <key>e.30pt_2</key>
    <string>e.30pt_2.glif</string>
    <key>e.48pt</key>
    <string>e.48pt.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.30pt</key>
    <string>g.30pt.glif</string>
    <key>g.36pt</key>
    <string>g.36pt.glif</string>
    <key>g.36pt_2</key>
    <string>g.36pt_2.glif</string>
    <key>g.60pt</key>
    <string>g.60pt.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>h.36pt</key>
    <string>h.36pt.glif</string>
    <key>h.36pt_2</key>
    <string>h.36pt_2.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i.30pt</key>
    <string>i.30pt.glif</string>
    <key>i.36pt</key>
    <string>i.36pt.glif</string>
    <key>i.36pt_2</key>
    <string>i.36pt_2.glif</string>
    <key>i.36pt_3</key>
    <string>i.36pt_3.glif</string>
    <key>i.36pt_4</key>
    <string>i.36pt_4.glif</string>
    <key>i.60pt</key>
    <string>i.60pt.glif</string>
    <key>i.60pt_2</key>
    <string>i.60pt_2.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l.30pt</key>
    <string>l.30pt.glif</string>
    <key>l.30pt_2</key>
    <string>l.30pt_2.glif</string>
    <key>l.36pt</key>
    <string>l.36pt.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m.48pt</key>
    <string>m.48pt.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.30pt</key>
    <string>n.30pt.glif</string>
    <key>n.30pt_2</key>
    <string>n.30pt_2.glif</string>
    <key>n.36pt</key>
    <string>n.36pt.glif</string>
    <key>n.48pt</key>
    <string>n.48pt.glif</string>
    <key>n.60pt</key>
    <string>n.60pt.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.30pt</key>
    <string>o.30pt.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>p.30pt</key>
    <string>p.30pt.glif</string>
    <key>p.36pt</key>
    <string>p.36pt.glif</string>
    <key>p.48pt</key>
    <string>p.48pt.glif</string>
    <key>p.48pt_2</key>
    <string>p.48pt_2.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.30pt</key>
    <string>r.30pt.glif</string>
    <key>r.30pt_2</key>
    <string>r.30pt_2.glif</string>
    <key>r.30pt_3</key>
    <string>r.30pt_3.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.36pt</key>
    <string>s.36pt.glif</string>
    <key>s.48pt</key>
    <string>s.48pt.glif</string>
    <key>s.48pt_2</key>
    <string>s.48pt_2.glif</string>
    <key>s.60pt</key>
    <string>s.60pt.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.30pt</key>
    <string>t.30pt.glif</string>
    <key>t.36pt</key>
    <string>t.36pt.glif</string>
    <key>t.60pt</key>
    <string>t.60pt.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.30pt</key>
    <string>three.30pt.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.30pt</key>
    <string>two.30pt.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u.30pt</key>
    <string>u.30pt.glif</string>
    <key>u.30pt_2</key>
    <string>u.30pt_2.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>y.30pt</key>
    <string>y.30pt.glif</string>
    <key>y.36pt</key>
    <string>y.36pt.glif</string>
  </dict>
</plist>
