<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.36pt</key>
    <string>A_.36pt.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.42pt</key>
    <string>C_.42pt.glif</string>
    <key>C.48pt</key>
    <string>C_.48pt.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.36pt</key>
    <string>D_.36pt.glif</string>
    <key>D.42pt</key>
    <string>D_.42pt.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.54pt</key>
    <string>E_.54pt.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L.48pt</key>
    <string>L_.48pt.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.36pt</key>
    <string>N_.36pt.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.36pt</key>
    <string>O_.36pt.glif</string>
    <key>O.42pt</key>
    <string>O_.42pt.glif</string>
    <key>O.48pt</key>
    <string>O_.48pt.glif</string>
    <key>O.48pt_2</key>
    <string>O_.48pt_2.glif</string>
    <key>O.54pt</key>
    <string>O_.54pt.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.42pt</key>
    <string>S_.42pt.glif</string>
    <key>S.60pt</key>
    <string>S_.60pt.glif</string>
    <key>S.72pt</key>
    <string>S_.72pt.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.42pt</key>
    <string>e.42pt.glif</string>
    <key>e.48pt</key>
    <string>e.48pt.glif</string>
    <key>e.54pt</key>
    <string>e.54pt.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.36pt</key>
    <string>eight.36pt.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.48pt</key>
    <string>four.48pt.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.36pt</key>
    <string>n.36pt.glif</string>
    <key>n.42pt</key>
    <string>n.42pt.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.36pt</key>
    <string>t.36pt.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u.42pt</key>
    <string>u.42pt.glif</string>
    <key>w</key>
    <string>w.glif</string>
  </dict>
</plist>
