<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>B.five</key>
    <string>B_.five.glif</string>
    <key>B.four</key>
    <string>B_.four.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.eight</key>
    <string>D_.eight.glif</string>
    <key>D.five</key>
    <string>D_.five.glif</string>
    <key>D.six</key>
    <string>D_.six.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.five</key>
    <string>E_.five.glif</string>
    <key>E.six</key>
    <string>E_.six.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.five</key>
    <string>N_.five.glif</string>
    <key>N.four</key>
    <string>N_.four.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.eight</key>
    <string>O_.eight.glif</string>
    <key>O.five</key>
    <string>O_.five.glif</string>
    <key>O.six</key>
    <string>O_.six.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U.five</key>
    <string>U_.five.glif</string>
    <key>U.six</key>
    <string>U_.six.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.four</key>
    <string>e.four.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.four</key>
    <string>s.four.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.four</key>
    <string>t.four.glif</string>
    <key>u</key>
    <string>u.glif</string>
  </dict>
</plist>
