<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.60pt</key>
    <string>T_.60pt.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.54pt</key>
    <string>a.54pt.glif</string>
    <key>a.66pt</key>
    <string>a.66pt.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.54pt</key>
    <string>e.54pt.glif</string>
    <key>e.60pt</key>
    <string>e.60pt.glif</string>
    <key>e.60pt_2</key>
    <string>e.60pt_2.glif</string>
    <key>e.60pt_3</key>
    <string>e.60pt_3.glif</string>
    <key>e.66pt</key>
    <string>e.66pt.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i.54pt</key>
    <string>i.54pt.glif</string>
    <key>i.60pt</key>
    <string>i.60pt.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l.60pt</key>
    <string>l.60pt.glif</string>
    <key>l.66pt</key>
    <string>l.66pt.glif</string>
    <key>l.66pt_2</key>
    <string>l.66pt_2.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.54pt</key>
    <string>n.54pt.glif</string>
    <key>n.60pt</key>
    <string>n.60pt.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.54pt</key>
    <string>o.54pt.glif</string>
    <key>o.66pt</key>
    <string>o.66pt.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.54pt</key>
    <string>s.54pt.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.54pt</key>
    <string>t.54pt.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>y</key>
    <string>y.glif</string>
  </dict>
</plist>
