<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.60pt</key>
    <string>I_.60pt.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.60pt</key>
    <string>N_.60pt.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.60pt</key>
    <string>R_.60pt.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.60pt</key>
    <string>S_.60pt.glif</string>
    <key>S.60pt_2</key>
    <string>S_.60pt_2.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.60pt</key>
    <string>e.60pt.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.60pt</key>
    <string>o.60pt.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.60pt</key>
    <string>r.60pt.glif</string>
    <key>r.60pt_2</key>
    <string>r.60pt_2.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>three</key>
    <string>three.glif</string>
  </dict>
</plist>
